body {
  background: #f1f0ec;
  min-width: 1280px; }
  body .container {
    width: 1100px; }

header {
  border-bottom: 1px solid #fff;
  height: 60px;
  position: relative;
  z-index: 99; }
  header .logo {
    display: block;
    padding-top: 13px; }

main {
  margin-top: -60px; }
  main .main-visual {
    background: #723a08;
    position: relative; }
    main .main-visual .container-fluid {
      padding: 0; }
    main .main-visual .text {
      position: absolute;
      top: 120px;
      right: 20px; }
      main .main-visual .text .line {
        display: block; }
        main .main-visual .text .line + .line {
          margin-top: 70px; }
        main .main-visual .text .line.effect {
          transition: all .28s ease-in; }
          main .main-visual .text .line.effect:hover {
            opacity: .7; }
  main .carousel {
    width: 1357px; }
    main .carousel .slick-dots {
      bottom: 10px;
      right: 20px;
      text-align: right; }
      main .carousel .slick-dots button {
        height: 16px;
        width: 16px;
        border: 1px solid #fff;
        border-radius: 50%; }
        main .carousel .slick-dots button:before {
          content: ''; }
      main .carousel .slick-dots .slick-active button {
        background: #fff; }
  main .section .section_header {
    margin-top: 100px;
    text-align: center; }
  main .section figure {
    margin-top: 60px; }
  main .buyer {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 150px;
    background: #e5e5e5; }
    main .buyer .section_header {
      margin-top: 0px;
      margin-bottom: 50px; }
    main .buyer .items {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      main .buyer .items .pro {
        transition: all .28s ease-in; }
        main .buyer .items .pro .intro {
          margin-bottom: 30px; }
        main .buyer .items .pro .btn {
          margin-top: 30px;
          display: block;
          text-align: center;
          margin: auto;
          font-size: 0;
          background: url("../images/button.png") no-repeat;
          background-position: center;
          width: 222px;
          height: 50px; }
        main .buyer .items .pro:hover {
          opacity: .7; }


