/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt,
var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/*
Rules:
	-----font------
	html {font-size: 75%;}
	body {font-size: 1rem;}

	.5rem	 = 6px;  
	.75rem	 = 9px;
	.8333rem = 10px;
	1rem	 = 12px;
	1.167rem = 14px;
	1.333rem = 16px;
	1.5rem = 18px;
	1.75rem	 = 21px;
	2rem	 = 24px;
	2.333rem = 28px;
	-----color-----
        
	-----grid-----


*/
.clearfix:before {
  content: '';
  display: table;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.th-xs {
  width: 60px;
}

.th-xxs {
  width: 20px;
}

.col-xs {
  width: 5%;
}

.col-s {
  width: 7.5%;
}

.col-m {
  width: 10%;
}

.col-l {
  width: 30%;
}

.col-xl {
  width: 50%;
}

.row.xs {
  min-height: 24px;
}
.row.s {
  min-height: 48px;
}
.row.m {
  min-height: 72px;
}
.row.l {
  min-height: 96px;
}

.col {
  float: left;
  /*
  &.s1  {width: 08.333%;}
  &.s2  {width: 16.777%;}
  &.s3  {width: 25%;}
  &.s4  {width: 33.333%;}
  &.s5  {width: 41.667%;}
  &.s6  {width: 50%;}
  &.s7  {width: 58.333%;}
  &.s8  {width: 66.667%;}
  &.s9  {width: 75%;}
  &.s10 {width: 83.333%;}
  &.s11 {width: 91.667%;}
  &.s12 {width: 100%;}
  */
}
.col.s1 {
  width: 06.25%;
}
.col.s2 {
  width: 12.5%;
}
.col.s3 {
  width: 18.75%;
}
.col.s4 {
  width: 25%;
}
.col.s5 {
  width: 31.25%;
}
.col.s6 {
  width: 37.5%;
}
.col.s7 {
  width: 43.75%;
}
.col.s8 {
  width: 50%;
}
.col.s9 {
  width: 56.25%;
}
.col.s10 {
  width: 62.5%;
}
.col.s11 {
  width: 68.75%;
}
.col.s12 {
  width: 75%;
}
.col.s13 {
  width: 81.25%;
}
.col.s14 {
  width: 87.5%;
}
.col.s15 {
  width: 93.75%;
}
.col.s16 {
  width: 100%;
}
.col.offset-s1 {
  margin-left: 06.25%;
}
.col.offset-s2 {
  margin-left: 12.5%;
}
.col.offset-s3 {
  margin-left: 18.75%;
}
.col.offset-s4 {
  margin-left: 25%;
}
.col.offset-s5 {
  margin-left: 31.25%;
}
.col.offset-s6 {
  margin-left: 37.5%;
}
.col.offset-s7 {
  margin-left: 43.75%;
}
.col.offset-s8 {
  margin-left: 50%;
}
.col.offset-s9 {
  margin-left: 56.25%;
}
.col.offset-s10 {
  margin-left: 62.5%;
}
.col.offset-s11 {
  margin-left: 68.75%;
}
.col.offset-s12 {
  margin-left: 75%;
}
.col.offset-s13 {
  margin-left: 81.25%;
}
.col.offset-s14 {
  margin-left: 87.5%;
}
.col.offset-s15 {
  margin-left: 93.75%;
}
.col.offset-s16 {
  margin-left: 100%;
}

.middle-align {
  display: table;
}
.middle-align > * {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.flex {
  display: flex;
  float: none;
}
.flex.c-c {
  justify-content: center;
  align-items: center;
}
.flex.l-c {
  justify-content: flex-start;
  align-items: center;
}
.flex.r-c {
  justify-content: flex-end;
  align-items: center;
}
.flex > * {
  float: none;
}

.center {
  text-align: center !important;
}

.right {
  text-align: right !important;
}

.left {
  text-align: left !important;
}

body {
  background: #efefef;
}

.container {
  position: relative;
  width: 1180px;
  margin: 20px auto 500px;
}
.container > section {
  margin: 50px auto;
}
.container > section.shop-car {
  padding: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.45);
  -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.45);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.45);
  margin-bottom: 50px;
  background: #dedede;
}
.container > section.shop-car .store {
  height: 56px;
  padding: 0.7rem;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-bottom: 1px solid #f75d3c;
}
.container > section.shop-car .store figure {
  width: 40px;
}
.container > section.shop-car .store figure a {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgba(247, 93, 60, 0.87);
}
.container > section.shop-car .store figure a img {
  width: 100%;
}
.container > section.shop-car .store .name a {
  padding: 0px 10px;
  font-size: 1.75rem;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 900;
}

.main-table {
  width: 100%;
  background: #fff;
  border-collapse: collapse;
  border-spacing: 0px;
}
.main-table th, .main-table td {
  padding: 4px;
  vertical-align: middle;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.main-table tr {
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.main-table thead tr {
  border-bottom: 1px solid #ececec;
  height: 42px;
}
.main-table thead tr th {
  font-size: 1.167rem;
  color: rgba(0, 0, 0, 0.54);
}
.main-table tbody tr {
  height: 42px;
}
.main-table tbody tr.cargos-tr {
  height: 84px;
}
.main-table tbody tr:last-of-type td {
  border-bottom: 0px;
}
.main-table tbody tr:hover {
  padding-left: 4px solid rgba(247, 93, 60, 0.87);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.main-table tbody td {
  border-bottom: 1px solid #ececec;
}
.main-table tbody td:first-of-type, .main-table tbody td:nth-of-type(2) {
  border-bottom: 1px solid transparent;
}
.main-table tbody td.name a {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.167rem;
}
.main-table tbody td.name a:hover {
  color: rgba(247, 93, 60, 0.87);
}
.main-table tbody td.price {
  padding: 0 20px;
}
.main-table tbody td.nav-info {
  font-size: 1rem;
  color: #545454;
}
.main-table tbody td.this-pay .mode {
  border: 1px solid #aaa;
}
.main-table tbody td figure {
  width: 64px;
  height: 64px;
  overflow: hidden;
  margin: 0 auto;
}
.main-table tbody td figure img {
  width: 100%;
}
.main-table tbody td .attention-please {
  color: #f02071;
  display: block;
  font-size: 1rem;
}

.car-bottom {
  border-top: 1px solid #ddd;
  box-shadow: 0 1px 0 0 #fff inset;
}
.car-bottom .col-ship {
  width: 50%;
  float: left;
}
.car-bottom .col-ship > div {
  padding: 1.5rem;
}
.car-bottom .col-ship .title {
  font-size: 1rem;
  display: inline-block;
}
.car-bottom .col-ship .title .fa-truck {
  color: #9E9E9E;
  cursor: pointer;
}
.car-bottom .col-ship .ship-list {
  display: inline-block;
}
.car-bottom .col-ship .ship-list span.spec-style {
  padding: 4px 8px;
  border-radius: 4px;
  color: #898989;
  border: 1px solid #898989;
  margin-left: 5px;
  background: #fff;
}
.car-bottom .col-ship .free {
  color: #278E28;
}
.car-bottom .col-total {
  width: 50%;
  float: left;
}
.car-bottom .col-total > div {
  padding: 1.5rem;
}
.car-bottom .col-total .title {
  display: inline-block;
}
.car-bottom .col-total .shop-total {
  display: inline-block;
  font-size: 1.75rem;
  color: #f02071;
  font-weight: 900;
}
.car-bottom .col-action {
  width: 100%;
  float: left;
}

.container .shop-car {
  padding: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.45);
  -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.45);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.45);
  margin-bottom: 50px;
  background: #dedede;
}
.container .shop-car .store {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 16px 0;
}
.container .shop-car .store figure a {
  padding: 0 16px;
}
.container .shop-car .store figure img {
  border-radius: 50%;
  border: 1px solid #f75d3c;
  width: 40px;
}
.container .shop-car .store figure figcaption {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 16px;
  font-size: 1.75rem;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 900;
}
.container .shop-car .store .func {
  text-align: center;
}
.container .shop-car .main-content {
  background: #fff;
}
.container .shop-car .main-content .title[role="table-title"] {
  border-bottom: 1px solid #aaa;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.container .shop-car .main-content .title[role="table-title"] div {
  font-size: 1.167rem;
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
}
.container .shop-car .main-content .list .content[role="pro-content"] div {
  font-size: 1.167rem;
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
}
.container .shop-car .main-content .list .ship {
  padding: 16px;
  border-top: 1px solid #aaa;
}
.container .shop-car .main-content .list .ship .title {
  font-size: 1.167rem;
}
.container .shop-car .main-content .list .ship .content .process {
  border-radius: 25px;
  position: relative;
  width: 400px;
  height: 24px;
  border: 1px solid #dedede;
  background: #f0f0f0;
}
.container .shop-car .main-content .list .ship .content .process .percent {
  border-radius: 25px;
  position: absolute;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  top: 0;
  left: 0;
  width: 200px;
  height: 24px;
  background: #aaa;
}
.container .shop-car .main-content .list .ship .content .process .spec {
  position: relative;
  color: #ddd;
  text-shadow: 1px 1px 1px #666;
}
.container .shop-car .summary {
  padding: 0px 16px;
}
.container .shop-car .pay-way {
  border-right: 1px solid #aaa;
  box-shadow: 1px 0px 0 0 #fff;
  padding-right: 16px;
  margin-right: 16px;
}
.container .shop-car .pay-way .title {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.54);
  padding-right: 16px;
}
.container .shop-car .pay-way .content > div {
  display: inline-block;
}
.container .shop-car .pay-way .content > div[role="credit"] {
  border-left: 1px solid #aaa;
}
.container .shop-car .pay-way .content label {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.54);
}

button {
  cursor: pointer;
}
button.bt-delete {
  background-color: #FF7171;
  border: 0px solid #FF7171;
  border-radius: 5px;
  color: #FFF;
  border-bottom: 2px solid #E56B6B;
  border-right: 1px solid #D38D8D;
}
button.bt-delete i {
  color: #fff;
}
button.shop-buy {
  background-color: #25A810;
  border: 0px solid #25A810;
  border-radius: 5px;
  color: #FFFFFF;
  border-bottom: 2px solid #1C5F11;
  border-right: 1px solid #1A740C;
  width: 120px;
  font-size: 1.5em;
  padding: 5px 10px;
}

input + label {
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
input + label:before, input + label:after {
  content: '';
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  position: relative;
  margin: 0 8px;
  color: rgba(0, 0, 0, 0.26);
  display: inline-block;
}
input[type="radio"] + label:before, input[type="radio"] + label:after {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
input[type="radio"] + label:before {
  width: 12px;
  height: 12px;
  border: 2px solid rgba(0, 0, 0, 0.26);
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 6px;
}
input[type="radio"]:checked + label {
  color: #f75d3c;
}
input[type="radio"]:checked + label:before {
  border: 2px solid #f75d3c;
}
input[type="radio"]:checked + label:after {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 4px;
  top: 6px;
  background: #f75d3c;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  width: 10px;
  height: 10px;
  margin: 0 auto;
  display: block;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.26);
}
input[type="checkbox"]:checked + label {
  border: 1px solid rgba(0, 0, 0, 0.26);
}
input[type="checkbox"]:checked + label:before {
  width: 5px;
  height: 15px;
  display: block;
  position: absolute;
  top: -8px;
  left: 5px;
  border: 2px solid #f75d3c;
  border-top: 0;
  border-left: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

select {
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.ship-tr, .ship-free-tr {
  background-color: #F9F9F9;
}

.ship-info {
  color: #A3A3A3;
  border: 1px solid #a3a3a3;
  padding: 2px 5px;
  margin: 2px;
  border-radius: 5px;
}

.pay-type-info {
  color: #C4D71B;
  border: 1px solid #C4D71B;
  padding: 2px 5px;
  margin: 2px;
  border-radius: 5px;
}

#buy-cover {
  position: fixed;
  width: 100%;
  height: 3000px;
  z-index: 1000;
  background-color: #fff;
  top: 0px;
  left: 0px;
  display: none;
}
#buy-cover section {
  position: relative;
  width: 125px;
  margin: 20% auto;
  font-size: 2.0em;
  font-family: inherit;
}

/*
	.sum-price{
		text-align: right;
		.word {

		}
		.cash {
			font-size: 3.0em;
			font-weight: 900;
 			color: #FF5B5B;
 			font-family: sans-serif;
		}
	}
	#check-button {
		width: 100%;
		font-size: 2.0em;
		background-color: #0CA950;
		color: #fff;
		font-weight: 900;
		border-radius: 10px;
		padding: 10px;
		border: 0px;
	}
*/
.spinner {
  /* margin: 0px auto; */
  width: 70px;
  position: absolute;
  top: 0px;
  /* text-align: center; */
  left: 130px;
}
.spinner > div {
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
