extends ./../_layout.jade

block p_title
	title THL 最新消息
block extra_style
	link(rel="stylesheet", href="../css/news.css")
block main_content
	.container.main
		.row
			.col-lg-2.hidden-md-down
				aside.aside-nav
					ul.nav
						li.nav-item
							a.nav-link(class='', href='/news_event.html') News
						li.nav-item
							a.nav-link(class='', href='/news_event.html') Event
			.col-lg-8.offset-lg-1
				.article
					.caption 品牌故事／Brand Story
					h1.headline 利口樂　滋潤你我的人生
					figure.image
						img(src="../images/news_event/bs_02.jpg", alt="")
					p.para.em
						|唐寧茶（TWININGS），身為引領全球茶飲文化潮流的精品茶葉，透過欣臨企業與唐寧茶原廠合作的精品化風格行銷，在台灣銷售市場上，成功演繹出一場奢華與品味的完美饗宴。
					p.para
						|陽光灑落的午後，一杯香氣四溢的英式午茶、佐上幾片手工餅乾，心情自然放鬆慵懶了起來，唐寧茶不但是英國皇室專寵的經典茶品，更是消費者品牌偏好度最高的西洋茶品牌。
					p.para 從1706年由湯瑪士．唐寧（Thomas Twining）創辦至今，由於品質優良、茶韻飄香，不但贏得雅士們的推崇，更獲得維多利亞女王授予唐寧皇家御用茶稱號，憑藉著優秀品質與卓越口味，持續受到歷代皇室的青睞，奠定唐寧茶永恆光輝的皇室專寵印記。

					.sub-title 精品風格行銷  掀起業界仿效
					p.para 唐寧茶不只擄獲英國皇室貴族的心，更逐步征服全球115多國的味蕾。
					p.para 欣臨結合唐寧茶原廠台灣英聯食品集團的行銷資源，並以欣臨在餐飲領域深耕多年的專業經驗，將唐寧茶成功推廣於全球知名五星級飯店，讓消費者們可以在台北君悅飯店、台北晶華酒店、台北威斯汀六福皇宮、台北國賓飯店、寒舍艾美酒店、新竹老爺酒店、台中亞緻飯店、義大天悅飯店等知名飯店餐廳品味優雅皇室茶品。
					p.para 唐寧茶在台灣多年來，經由各面向的行銷操作，使其茶中精品的品牌印象深植於消費者心中，讓唐寧茶已不僅只是高檔茶葉品牌，而是一種精品生活風格的象徵，其中與五星級飯店結合的一系列鉑金主題下午茶活動，甚至成為多家精品品牌爭相仿效的範例。
					p.para 在零售通路行銷策略上，欣臨更與唐寧茶原廠攜手協力合作，搭配唐寧茶在台灣最高等級鉑金系列產品的上市，積極與零售通路端的百貨公司超市合作，將超市將整面牆或整座端架，進行展示質感的重新包裝，藉此呈現唐寧茶皇室御用的品牌形象，並透過精品櫥窗感的陳列布置，強化銷售通路精緻質感。

					.sub-title 開創品茶的感官饗宴
					p.para 此外，由唐寧茶首創、在台灣已舉辦兩屆的「TWININGS Grand Prix唐寧特調大賽」，已被譽為「調飲界的奧斯卡」，是台灣調飲師最重要的年度盛會。賽事活動由唐寧茶原廠主辦，並透過欣臨在餐飲市場密集的網路通路，廣邀全台餐飲業者，以唐寧茶的調茶工藝為基底，展現頂級茶品的獨道風味，透過當代特調師的創意詮釋，不但開創多重的品茶的感官饗宴，更奠定了建立品牌權威性，成功拓展銷售市場的深度與廣度。
					p.para 除了夏日舉辦的唐寧特調大賽活動，唐寧茶為了讓台灣飲茶文化，走出靜態展示框架，也冬天推出唐寧遊藝茶館（TWININGS Tea Salon），邀請知名藝術家蘇孟鴻、崔惠宇、安地羊等人，以各式複合媒材打造了三場風尚的櫥窗遊藝派對，並在華山文創園區內首創打造出唐寧空中茶廊，透過錯層的手法將茶館拉到高空，景觀盡納眼底，完美銜接了當代藝術與唐寧式的午茶優雅風情，綻放英式茶飲的全感體驗。
					p.para 唐寧茶走過三百年的歷史，如今它所代表的意涵，早已超越了茶文化，更是精緻、品味與享受的代名詞。若追求更完美的生活，不妨在休息時，給自己沏一杯唐寧茶；茶香繚繞的午後，你將體會更純粹的生活美學。

			.col-lg-8.offset-lg-3
				.extra
					h4.title 最新消息 Lastest News
					.row
						mixin other_news(link, image, title, date)
							.col-lg-4
								a.block.news(href=link+'.html')
									figure.image
										img(src="../images/news_event/"+image+".jpg", alt="")
									.info
										h5.title= title
										span.date= date
						+other_news('/event_01', 'event_1', '2016荷蘭皇家菲仕蘭簽約記者會', '2016.05.10')
						+other_news('/bs_01', 'bs_01', '利口樂　滋潤你我的人生', '2016.05.10')
						+other_news('/bs_02', 'bs_02', '唐寧茶  奢華精品饗宴', '2016.05.10')
block extra_script
