extends ./../_layout.jade

block p_title
	title THL 最新消息
block extra_style
	link(rel="stylesheet", href="../css/news.css")
block main_content
	.container.main
		.row
			.col-lg-2.hidden-md-down
				aside.aside-nav
					ul.nav
						li.nav-item
							a.nav-link(class='', href='/news_event.html') News
						li.nav-item
							a.nav-link(class='', href='/news_event.html#section_event') Event
						li.nav-item
							a.nav-link(class='', href='/news_event.html#section_story') Brand Story
			.col-lg-8.offset-lg-1
				.article
					.caption 事件／Event
					h1.headline 2016荷蘭皇家菲仕蘭簽約記者會
					figure.image
						img(src="../images/news_event/event_1.jpg", alt="")
					p.para 全球乳製品集團-荷蘭皇家菲仕蘭公司看好台灣乳製品市場，與台灣知名品牌通路代理商欣臨企業股份有限公司合作，共同整合開發台灣乳品市場。活動當天邀請 荷蘭皇家菲仕蘭大中華區 董事長兼首席執行官 邱肇祥董事長與欣臨企業 陳海天總經理進行公開簽約儀式，象徵雙方未來將更緊密的合作，發揮各自領域之所長，為台灣引進最好的商品給我們國人。
					p.para 活動進行中，由知名香港主廚，以菲仕蘭「黑白淡奶」親自示範正宗港式茶餐廳中最具代表的廣式點心-蛋塔、奶酪、凍飲等，讓現場來賓一嚐道地風味。此外再以「黑白淡奶」調製奶香濃郁，深受消費者喜愛的港式絲襪奶茶示範。所謂「淡奶」(Evaporated milk)是指將鮮奶經過高溫蒸餾，除去百分之六十的水份而成，若在製作過程中加入糖漿，則可以製成「煉奶」(Condensed milk)。由於新鮮牛奶不易保存，在沒有冰箱出現之前，牛奶被製成淡奶或煉奶，可以方便保存、包裝和運輸。由於經過高溫處理過的關係，淡奶比鮮奶的顏色較深，味道也較為醇厚。一杯港式絲襪奶茶，淡奶佔成本三分之一，因此沖泡奶茶的好壞，淡奶的質素非常重要。
					p.para 香港常見的淡奶品牌最受歡迎的是荷蘭皇家菲仕蘭黑白淡奶，香港茶餐廳有七成都是選用。 坊間大部份淡奶都是合成奶或植脂奶(即不含牛奶成份的仿奶製品)，只有黑白淡奶是採用新鮮牛奶製作的全脂淡奶，因此沖出來的奶茶奶香特別醇厚香滑，才能做到「掛杯」的效果。
					p.para 除「黑白淡奶」之外，也現場也展示台灣手搖茶飲店必備的KIEVIT菲鳥牌奶精粉的飲品沖調示範，讓整場簽約活動瀰漫在濃濃的奶香中進行。

			//-.col-lg-8.offset-lg-3
				.extra
					h4.title 最新消息 Lastest News
					.row
						mixin other_news(link, image, title, date)
							.col-lg-4
								a.block.news(href=link+'.html')
									figure.image
										img(src="../images/news_event/"+image+".jpg", alt="")
									.info
										h5.title= title
										span.date= date
						+other_news('/event_01', 'event_1', '2016荷蘭皇家菲仕蘭簽約記者會', '2016.05.10')
						+other_news('/bs_01', 'bs_01', '利口樂　滋潤你我的人生', '2016.05.10')
						+other_news('/bs_02', 'bs_02', '唐寧茶  奢華精品饗宴', '2016.05.10')
block extra_script
