extends ./../_layout.jade

block p_title
	title THL 最新消息
block extra_style
	link(rel="stylesheet", href="../css/news.css")
block main_content
	.container.main
		.row
			.col-lg-2.hidden-md-down
				aside.aside-nav
					ul.nav
						li.nav-item
							a.nav-link(class='', href='/news_event.html') News
						li.nav-item
							a.nav-link(class='', href='/news_event.html') Event
			.col-lg-8.offset-lg-1
				.article
					.caption 新聞／News
					h1.headline 2016世界廚王台北爭霸賽<br>御用指定李錦記醬料
					figure.image
						img(src="../images/news_event/news_03.jpg", alt="")
					p.para 由台北市餐飲業職業工會主辦的2016世界廚王台北爭霸賽，於2016年6月11日至16日在台北正式展開，來自世界各地的中餐界領袖及各地名廚等近20個餐飲單位齊聚台灣﹐為中餐廚藝界打造一個優良的國際交流平台，李錦記為本屆賽事指定醬料供應商，為來自全球的參賽者提供最高質醬料。成立於1988年的李錦記，至今已有逾220種產品，並曾多次參與世界廚藝競賽、各大博覽會。16日在陽明山中山樓舉辦的頒獎晚會，由李錦記原廠台灣顧問陳可邦、鍾佳凌，協同欣臨的同仁夥伴們一起出席，現場並設有李錦記展示專區，透過詳盡的產品陳列介紹，完整傳遞了李錦記全系列產品精神。
			//-.col-lg-8.offset-lg-3
				.extra
					h4.title 最新消息 Lastest News
					.row
						mixin other_news(link, image, title, date)
							.col-lg-4
								a.block.news(href=link+'.html')
									figure.image
										img(src="../images/news_event/"+image+".jpg", alt="")
									.info
										h5.title= title
										span.date= date
						+other_news('/news_02', 'news_02', '嬌聯日本總社長高原豪久 拜訪欣新網總部', '2016.05.10')
						+other_news('/news_03', 'news_03', '2016世界廚王台北爭霸賽 御用指定李錦記醬料', '2016.05.10')
						+other_news('/news_04', 'news_04', '欣新網跨足寵物產業', '2016.05.10')
block extra_script
