extends ./../_layout.jade

block p_title
	title THL 最新消息
block extra_style
	link(rel="stylesheet", href="../css/news.css")
block main_content
	.container.main
		.row
			.col-lg-2.hidden-md-down
				aside.aside-nav
					ul.nav
						li.nav-item
							a.nav-link(class='', href='/news_event.html') News
						li.nav-item
							a.nav-link(class='', href='/news_event.html#section_event') Event
						li.nav-item
							a.nav-link(class='', href='/news_event.html#section_story') Brand Story
			.col-lg-8.offset-lg-1
				.article
					.caption 新聞／News
					h1.headline 嬌聯日本總社長高原豪久<br>拜訪欣新網總部
					figure.image
						img(src="../images/news_event/news_02.jpg", alt="")
					p.para 因應電子商務的蓬勃發展與快速成長，品牌對於電商的投資與重視程度也日益增加。嬌聯日本總社長高原豪久於2016年4月初訪台，並親自拜訪欣新網總部，針對過去一年將近兩倍成長的業績進行交流討論與分享，並且對於未來獨規商品、行銷資源的串聯，以及廣告資源的導流及整合，訂立未來的期望與發展。目前也已首次將嬌聯行銷部門加入會議，雙方交流互動更為深入，期望帶動品牌形象與業績的穩固成長！
			//-.col-lg-8.offset-lg-3
				.extra
					h4.title 最新消息 Lastest News
					.row
						mixin other_news(link, image, title, date)
							.col-lg-4
								a.block.news(href=link+'.html')
									figure.image
										img(src="../images/news_event/"+image+".jpg", alt="")
									.info
										h5.title= title
										span.date= date
						+other_news('/news_02', 'news_02', '嬌聯日本總社長高原豪久 拜訪欣新網總部', '2016.05.10')
						+other_news('/news_03', 'news_03', '2016世界廚王台北爭霸賽 御用指定李錦記醬料', '2016.05.10')
						+other_news('/news_04', 'news_04', '欣新網跨足寵物產業', '2016.05.10')
block extra_script
