extends ./../_layout.jade

block p_title
	title THL 最新消息
block extra_style
	link(rel="stylesheet", href="../css/news.css")
block main_content
	.container.main
		.row
			.col-lg-2.hidden-md-down
				aside.aside-nav
					ul.nav
						li.nav-item
							a.nav-link(class='', href='/news_event.html') News
						li.nav-item
							a.nav-link(class='', href='/news_event.html') Event
			.col-lg-8.offset-lg-1
				.article
					.caption 新聞／News
					h1.headline Maybelline媚比琳與Durex杜蕾斯<br>成立網路官方旗艦店
					figure.image
						img(src="../images/news_event/news_05.jpg", alt="")
					p.para 隨著品牌電商趨勢的興起，越來越多品牌成立專屬網路官方旗艦店。欣新網除了既有的滿意寶寶Mamypoko、英國唐寧茶Twinings外，2016年3月正式與台灣萊雅開啟合作，於8月成立Maybelline媚比琳官方旗艦店，運用近期的彩妝潮流，推動多款媚比琳熱門上市的新品。此外，世界第一保險套品牌的Durex杜蕾斯，也在8月加入成立官方旗艦店行列，希望以直接面對消費者的溝通互動，將品牌的經營與業績更上一層樓！
			//-.col-lg-8.offset-lg-3
				.extra
					h4.title 最新消息 Lastest News
					.row
						mixin other_news(link, image, title, date)
							.col-lg-4
								a.block.news(href=link+'.html')
									figure.image
										img(src="../images/news_event/"+image+".jpg", alt="")
									.info
										h5.title= title
										span.date= date
						+other_news('/news_02', 'news_02', '嬌聯日本總社長高原豪久 拜訪欣新網總部', '2016.05.10')
						+other_news('/news_03', 'news_03', '2016世界廚王台北爭霸賽 御用指定李錦記醬料', '2016.05.10')
						+other_news('/news_04', 'news_04', '欣新網跨足寵物產業', '2016.05.10')
block extra_script
