.brand_wall {
	margin-bottom: 80px;
	>.title {
		color: $bk_1;
		font-size: rem(21);
		margin-bottom: 30px;
	}
	.brand_box {
		@include display-flex;
		@include align-items(center);
	}
	.brand {
		display: block;
		@include border-radius(6px);
		border: 1px solid transparent;
		transition: all .28s ease-in;
		padding: 20px;
		img {
			width: 100%;
			//height: 100%;
		}
		&:hover {
			border-color: $red;
		}
	}
	@include rwd(xs) {
		
	}
}