@import '_layout.scss';
//------
main {
	background: $red;
}
$high-red: #ef0000;
.article {
	margin: auto;
	padding: 30px 0;
	position: relative;
	.caption {
		font-size: rem(148);
		color: $high-red;
		position: fixed;
		word-break: break-all;
	}
	+.article {
		margin-top: 50px;
		padding-top: 50px;
		padding-bottom: 120px;
	}
	@include rwd(xs) {
		margin-top: 0;
		.caption {
			font-size: rem(100);
			color: $bk_1;
		}
	}
}
.section {
	position: relative;
	z-index: 1;
	.headline {
		color: #fff;
		font-size: rem(28);
		font-weight: 700;
		line-height: 1.4;
		text-align: left;
		margin-bottom: 20px;
		&.offset {
			margin-top: 200px;
		}
		.em {
			font-size: rem(54);
			margin: 0;
			position: relative;
			left: -2px;
		}
		.eng {
			color: $gold;
			font-size: rem(18);
		}
		@include rwd(xs) {
			font-size: rem(24);
			&.offset {
				margin-top: 160px;
				padding-top: 1rem;
			}
			.em {
				font-size: rem(48);
			}
			.eng {
				font-size: rem(16);
			}
		}
	}
	.title {
		$color: #fff;
		color: $color;
		font-size: rem(24);
		font-weight: 700;
		display: inline-block;
		margin-bottom: 3rem;
		&:after {
			content: '';
			height: 2px;
			width: 100%;
			background: $color;
			display: block;
			position: relative;
			top: 4px;
		}
		@include rwd(xs) {
			padding-top: 1rem;
		}
	}
	.para {
		color: #fff;
		font-size: rem(16);
		font-weight: 400;
		line-height: 1.5;
		@include rwd(xs) {
			line-height: 1.7;
		}
	}
	.image {
		padding: 10px;
		img {
			width: 100%;
		}
		figcaption {
			color: #fff;
			font-size: rem(14);
			text-align: right;
			position: relative;
			top: -28px;
			left: -10px;
			@include text-shadow(1px 0px 0px #666);
		}
		&.dis {
			margin-top: 40px;
		}
	}
	&.main {
		.para {
			position: relative;
			padding: 1rem 1.5rem;
			&:before, &:after {
				//color: $high-red;
				color: $gold;
				font-size: rem(48);
				font-weight: 100;
				line-height: 1;
				position: absolute;
				margin: auto;
			}
			&:before {
				content: '「';
				left: -1.5rem;
				top: 0;
			}
			&:after {
				content: '」';
				right: -1rem;
				bottom: .5rem;
			}
			p {}
		}
	}
	&.sub {
		margin-top: 4rem;
	}
	@include rwd(xs) {
		background: rgba($red, .7);
	}
}
.bg_build {
	background: image-url('../images/about/01_build.png') no-repeat;
	background-size: 430px;
	background-position: -40px 20px;
	@include rwd(xs) {
		background-attachment: fixed;

	}
}
.profile {
	height: 160px;
	$width: 600px;
	/*
	&:after {
		content: '';
		display: block;
		height: 300px;
		width: $width;
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		top: -100px;
		background: image-url('../images/about/01_chen_3.jpg') no-repeat;
		background-size: cover;
	}
	.text {
		color: #fff;
		font-size: rem(14);
		text-align: right;
		position: relative;
		z-index: 1;
		width: $width;
		margin: auto;
		@include text-shadow(1px 0px 0px #666);
		bottom: -170px;
		left: -10px;
	}
	*/
	img {
		//border: 5px solid #fff;
	}
}
.map {
	margin-top: 180px;
}
.row {
	>.color-up {
		background: #dedfdf;
		margin-top: 20px;
		padding-bottom: 40px;
		.section {
			.title {
				color: $red;
				&:after {
					background: $red;
				}
			}
			.para {
				color: $bk_3;
			}
		}
	}
}