@import '_layout.scss';
@import '_brand_wall.scss';

hr.divider {
	border-color: $red;
	margin-top: 40px;
	margin-bottom: 60px;
}
.row {
	&.vert {
		//@include flex-flow(column nowrap);
	}
	&.horz {
		@include flex-flow(row nowrap);
	}
}
.vert_stretch {
	[class^='col-']{
		@include display-flex;
	}
	+.vert_stretch {
		margin-top: 30px;
	}
}
.block {
	@include border-radius(5px);
	border: 1px solid $gold;
	padding: 20px 15px;
	margin-bottom: 20px;
	@include display-flex;
	transition: all .28s ease-in;
	.sort {
		color: $bk_3;
		font-size: rem(12);
		font-weight: 900;
		text-align: left;
		position: relative;
		padding-bottom: 3px;
		width: 100%;
		margin-bottom: 12px;
		.text {
			display: inline-block;
			//width: 60px;
			text-align: center;
		}
		&:before, &:after {
			content: '';
			display: block;
			border-bottom: 2px solid black;
			position: absolute;
			bottom: 0;
		}
		&:before {
			border-color: $red;
			width: 60px;
			left: 0;
			z-index: 2;
		}
		&:after {
			width: calc(100% - 65px);
			right: 0;
		}
	}
	.image {
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	.essay {
		.date {
			color: $bk_3;
			font-size: rem(14);
			margin-bottom: 8px;
		}
		.headline {
			color: $bk_0;
			font-size: rem(20);
			margin-bottom: 15px;
		}
		.abstract {
			color: $bk_2;
			font-size: rem(14);
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
			line-height: 1.6;
			max-height: 1.6*4rem;
			margin-bottom: 0;
		}
		@include rwd(xs) {
			.data {
				margin-bottom: 5px;
			}
			.headline {
				font-size: rem(18);
				line-height: 1.5;
				max-height: 1.5*2rem;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
				margin-bottom: 10px;
			}
			.abstract {

			}
		}
	}
	&.horz {
		@include flex-flow(row wrap);
		.image {
			@include flex(1);
		}
		.essay {
			margin-left: 20px;
			@include flex(1);
		}
	}
	&.vert {
		@include flex-flow(column wrap);
		.essay {
			margin-top: 20px;
		}
	}
	&:hover {
		border: 1px solid $red;
	}
	@include rwd(xs) {
		border: 0;
		padding: 10px 0;
		&:hover {
			border: 0;
		}
	}
}
////// single setting /////
.right-side {
	>[class^='col-'] {
		@include flex-flow(column wrap);
	}
}




body {
	overflow-x: hidden;
}
.time-wrap {
	position: relative;
	.time-slogan {
		position: absolute;
		z-index: 8;
		top: 10px;
		left: 0;
		right: 0;
		margin: auto;
		width: 630px;
		padding-left: .5rem;
		padding-right: .5rem;
		.image {
			img {
				width: 100%;
			}
		}
		@include rwd(xs) {
			width: 100%;
			padding: 0 1.25rem;
		}
		@include rwd(sm) {
			width: 100%;
			$padding: 1rem;
			padding-left: 	$padding;
			padding-right:  $padding;
		}
		@include rwd(md) {
			width: 630px;
		}
		@include rwd(lg) {
			width: 630px;
		}
	}
	.time-zone {
		.image {
			img {
				width: 100%;
			}
		}
	}
	.slick-dots {
		text-align: center;
		li {
			display: inline-block;
			margin: 0 10px;
			.year-indicator {
				color: $red;
				font-size: rem(20);
				font-weight: 700;
				padding: 2px 12px;
				position: relative;
				top: 0;
				transition: all .24s ease-in;
				display: inline-block;
				cursor: pointer;
				&:after {
					content: '';
					height: 0;
					width: 2px;
					background: $red;
					display: block;
					margin: auto;
					position: absolute;
					left:  0;
					right: 0;
					transition: all .24s ease-in;
				}
			}
			&.slick-active {
				.year-indicator {
					top: -2.5rem;
					color: #fff;
					background: $red;
					&:after {height: 34px;}
				}
			}
			&:after {
				content: '|||';
				color: $gold;
				font-weight: 700;
				position: relative;
				right: -20px;
				top:   -3px;
				letter-spacing: 20px;
			}
			&:last-of-type {
				&:after {
					display: none;
				}
			}
			@include rwd(xs) {
				$margin: 5px;
				margin-right: $margin;
				margin-left:  $margin;
				.year-indicator {
					$padding: 3px;
					font-size: rem(15);
					padding-left:  $padding;
					padding-right: $padding;
				}
				&:after {
					content: '||';
					font-weight: 400;
					letter-spacing: 2px;
					right: -8px;
				}
			}
		}
	}
	.slickArrow {
		$size: 40px;
		$distance: 15px;
		position: absolute;
		z-index: 8;
		height: $size;
		width:  $size;
		margin: auto;
		top: 0;
		bottom: 0;
		img {
			width: 100%;
		}
		&.prev {
			left: $distance;
		}
		&.next {
			right: $distance;
		}
		@include rwd(xs) {
			$size: 24px;
			height: $size;
			width:  $size;
		}
	}
}