@import '_layout.scss';
//------

body {
	position: relative;
}
hr.divider {
	margin-top: 30px;
}
.main.container {
	margin: 60px auto;
}
.aside-nav {
	position: fixed;
	.nav-item {
		.nav-link {
			color: $bk_2;
			transition: all .28s ease-in;
			&:before {
				content: '';
				//@include transition-property(transform opacity);
			    @include transition-duration(240ms);
			    height: 2px;
			    width: 0;
			    background: $red;
			    position: relative;
			    margin: auto;
			    display: block;
			    opacity: 0;
			    top: 28px;

			}
			&:hover, &.active {
				color: $red;
			}
			&:hover {
				&:before {
					opacity: 1;
					width: 100%;
				}
			}
		}
		+.nav-item {
			margin-top: 1rem;
		}
	}
}

.block-group {
	@include display-flex;
	@include flex-flow(row wrap);
}
.section-title {
	padding: 20px 15px;
	font-size: rem(28);
	font-weight: 900;
	font-style: italic;
}
.block {
	&.news {
		@include flex-flow(column wrap);
		border: 0;
		padding: 0;
		.image {
			margin-bottom: .5rem;
			img {
				width: 100%;
			}
		}
		.info {
			transition: all .28s ease-in;
			margin-bottom: 1.5rem;
			.title {
				color: $bk_1;
				font-size: rem(18);
				font-weight: 700;
				line-height: 1.5;
				margin-bottom: 5px;
				@include ellipsis;
			}
			.abstract {
				color: $bk_2;
				font-size: rem(15);
				line-height: 1.6;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
				max-height: 1.6*4rem;
				margin-bottom: 0;
			}
			.date {
				font-size: rem(13);
				font-style: italic;
				color: $bk_3;
			}
		}
		&:hover {
			border: 0;
			.title, .date, .abstract {
				color: $red;
			}
		}
		@include rwd(xs) {
			.info {
				margin-bottom: 0;
			}
		}
	}
}
.article {
	.caption {
		font-size: rem(15);
		color: $bk_4;
		font-style: italic;
	}
	.headline {
		font-size: rem(30);
		font-weight: 700;
		line-height: 1.4;
		color: $bk_1;
		margin-bottom: 10px;
	}
	.sub-title {
		font-size: rem(18);
		font-weight: 700;
		line-height: 1.4;
		color: $bk_1;
	}
	.image {
		img {
			width: 100%;
		}
	}
	.para {
		font-size: rem(15);
		line-height: 1.7;
		letter-spacing: 1px;
		color: $bk_2;
		margin-top: 1rem;
		&.em {
			font-size: rem(17);
			font-weight: 700;
			letter-spacing: 1px;
			color: $bk-1;
		}
	}
}
.extra {
	margin-top: 80px;
	.title {
		font-size: rem(21);
		font-weight: 700;
		color: $bk_1;
		margin-bottom: 30px;
	}
	.block.news {
		.info {
			.title {
				font-size: rem(16);
			}
		}
	}
}