@import "_reset.scss";

/*
Rules:
	-----font------
	html {font-size: 75%;}
	body {font-size: 1rem;}

	.5rem	 = 6px;  
	.75rem	 = 9px;
	.8333rem = 10px;
	1rem	 = 12px;
	1.167rem = 14px;
	1.333rem = 16px;
	1.5rem = 18px;
	1.75rem	 = 21px;
	2rem	 = 24px;
	2.333rem = 28px;
	-----color-----
        
	-----grid-----


*/
/////Fonts\\\\\
	$rem-10: .8333rem;	//disable!?
	$rem-12: 1rem;
	$rem-14: 1.167rem;
	$rem-16: 1.333rem;
	$rem-18: 1.5rem;
	$rem-21: 1.75rem;
	$rem-24: 2rem;
	$rem-28: 2.333rem;
	$rem-32: 2.666rem;
	$rem-36: 3rem;
	$rem-42: 3.5rem;
	$rem-48: 4rem;
	$rem-72: 6rem;
/////Colour\\\\\
	$bg-body: #f9f9f9; //temp
	$bg-card: #e9e9e9;	//temp

	$light-line: 1px solid #e5e5e5;
	
	$theme-color: #f75d3c;
	$sub-theme-color: #f02071;
	$text-color: #000;
	$text-reverse-color: #fff;
	$error-color: #f02071;
	$price-color: rgba(#f02071, 1);
	//$price-color: rgba(#e52d27, 1); //Youtube Red

	$primary-rate: 1;
	$second-rate: .87;
	$third-rate: .54;
	$inactive-rate: .26;
	
	//$theme-0: $theme-color * -----;	//dark
	$theme-1: rgba($theme-color, $primary-rate);	//normal
	$theme-2: rgba($theme-color, $second-rate);
	$theme-3: rgba($theme-color, $third-rate);
	$theme-inactive: rgba($text-color, $inactive-rate);

	$text-1: rgba($text-color, $second-rate);//normal
	$text-2: rgba($text-color, $third-rate);
	$text-inactive: rgba($text-color, $inactive-rate);

	$text-reverse-1: rgba($text-reverse-color, $second-rate);	//normal
	$text-reverse-2: rgba($text-reverse-color, $third-rate);
	$text-reverse-inactive: rgba($text-reverse-color, $inactive-rate);
/////Function\\\\\
	@mixin border-box(){
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	};
	@mixin text-hide(){
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	};
	@mixin rotate($deg) {
		-webkit-transform: rotateZ($deg);
		   -moz-transform: rotateZ($deg);
			-ms-transform: rotateZ($deg);
			 -o-transform: rotateZ($deg);
				transform: rotateZ($deg);
	}
	@mixin shadow($h, $v, $blur, $spread, $color, $alpha){
		-webkit-box-shadow: $h $v $blur $spread rgba($color, $alpha);
		   -moz-box-shadow: $h $v $blur $spread rgba($color, $alpha);
			 -o-box-shadow: $h $v $blur $spread rgba($color, $alpha);
				box-shadow: $h $v $blur $spread rgba($color, $alpha);
	}
	@mixin blur($px){
		-webkit-filter: blur($px);
		   -moz-filter: blur($px);
			 -o-filter: blur($px);
			-ms-filter: blur($px);
				filter: blur($px);
	}
	@mixin slow-move($attr,$time,$move){	//not integrate
		-webkit-transition: $attr $time $move;
		   -moz-transition: $attr $time $move;
			 -o-transition: $attr $time $move;
				transition: $attr $time $move;
	}
	@mixin border-gradient-left($color-0, $dist-0, $color-1, $dist-1){	//temp
    //-webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
	    -webkit-border-image: -webkit-linear-gradient(left, $color-0 $dist-0, $color-1 $dist-1);
	       -moz-border-image:    -moz-linear-gradient(left, $color-0 $dist-0, $color-1 $dist-1);
	    	 -o-border-image: 	   -o-linear-gradient(left, $color-0 $dist-0, $color-1 $dist-1);
	    		border-image: 		  linear-gradient(to right, $color-0 $dist-0, $color-1 $dist-1);
		border-image-slice: 1;
		@include border-box;
	}
	@mixin border-gradient($color-0, $dist-0, $color-1, $dist-1){	//temp
	    -webkit-border-image: -webkit-linear-gradient($color-0 $dist-0, $color-1 $dist-1);
	       -moz-border-image:    -moz-linear-gradient($color-0 $dist-0, $color-1 $dist-1);
	    	 -o-border-image: 	   -o-linear-gradient($color-0 $dist-0, $color-1 $dist-1);
	    		border-image: 		  linear-gradient($color-0 $dist-0, $color-1 $dist-1);
		border-image-slice: 1;
		@include border-box;
	}
	@mixin linear-gradient($deg, $strat_color, $end_color){
		background: -webkit-linear-gradient($deg, $strat_color, $end_color);
		background:    -moz-linear-gradient($deg, $strat_color, $end_color);
		background: 	 -o-linear-gradient($deg, $strat_color, $end_color);
		background: 		linear-gradient($deg, $strat_color, $end_color);
	}

	@mixin text-linear-gradient($deg, $strat_color, $end_color){
		background: -webkit-linear-gradient($deg, $strat_color, $end_color);
		background:    -moz-linear-gradient($deg, $strat_color, $end_color);
		background: 	 -o-linear-gradient($deg, $strat_color, $end_color);
		background: 		linear-gradient($deg, $strat_color, $end_color);
		-webkit-background-clip: text;
				background-clip: text;
		-webkit-text-fill-color: transparent;
				text-fill-color: transparent;
	}
/////Animation\\\\\
	@mixin animation($animate) {
		$max: length($animate);
		$animations: '';

		@for $i from 1 through $max {
			$animations: #{$animations + nth($animate, $i)};

			@if $i < $max {
				$animations: #{$animations + ", "};
			}
		}
		-webkit-animation: $animations;
		-moz-animation:	$animations;
		-o-animation:	  $animations;
		animation:		 $animations;
	}

	@mixin keyframes($animationName) {
		@-webkit-keyframes #{$animationName} {
			@content;
		}
		@-moz-keyframes #{$animationName} {
			@content;
		}
		@-o-keyframes #{$animationName} {
			@content;
		}
		@keyframes #{$animationName} {
			@content;
		}
	}

/////Var\\\\\
	$radius: 4px;
	$col-height: 84px;
	$inner-dist: 16px;
/////Class\\\\\
	.clearfix {
		&:before {
			content: '';
			display: table;
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
	
	////align\\\\
	.middle-align {
		display: table;
		>* {
			display: table-cell;
			vertical-align: middle;
			float: none;
		}
	}
	.flex {
		display: flex;
		float: none;
		////Herizon\\\\ 之後要改名稱
		&.c-c {
			justify-content: center;
			align-items: center;
		}
		&.l-c {
			justify-content: flex-start;
			align-items: center;
		}
		&.r-c {
			justify-content: flex-end;
			align-items: center;
		}
		////Vertical\\\\
		&.v-l {
			flex-direction: column;
			align-items: flex-start;
		}
		&.v-c {
			flex-direction: column;
			align-items: center;
		}
		&.v-r {
			flex-direction: column;
			align-items: flex-end;
		}
		>* {
			float: none;
		}
	}
	.center {text-align: center!important;}
	.right  {text-align: right!important;}
	.left   {text-align: left!important;}

////Default Setting\\\\
	img {
		@include border-box;
	}
	ul, ol {list-style: none;}
	a {text-decoration: none;}
////Grid\\\\
	.row {
		&.xs {min-height: 24px;}
		&.s  {min-height: 48px;}
		&.m  {min-height: 72px;}
		&.l  {min-height: 96px;}
	}
	.col {
		float: left;
		&.s1  {width: 06.25%;}
		&.s2  {width: 12.5%;}
		&.s3  {width: 18.75%;}
		&.s4  {width: 25%;}
		&.s5  {width: 31.25%;}
		&.s6  {width: 37.5%;}
		&.s7  {width: 43.75%;}
		&.s8  {width: 50%;}
		&.s9  {width: 56.25%;}
		&.s10 {width: 62.5%;}
		&.s11 {width: 68.75%;}
		&.s12 {width: 75%;}
		&.s13 {width: 81.25%;}
		&.s14 {width: 87.5%;}
		&.s15 {width: 93.75%;}
		&.s16 {width: 100%;}
		//////
		&.offset-s1  {margin-left: 06.25%;}
		&.offset-s2  {margin-left: 12.5%;}
		&.offset-s3  {margin-left: 18.75%;}
		&.offset-s4  {margin-left: 25%;}
		&.offset-s5  {margin-left: 31.25%;}
		&.offset-s6  {margin-left: 37.5%;}
		&.offset-s7  {margin-left: 43.75%;}
		&.offset-s8  {margin-left: 50%;}
		&.offset-s9  {margin-left: 56.25%;}
		&.offset-s10 {margin-left: 62.5%;}
		&.offset-s11 {margin-left: 68.75%;}
		&.offset-s12 {margin-left: 75%;}
		&.offset-s13 {margin-left: 81.25%;}
		&.offset-s14 {margin-left: 87.5%;}
		&.offset-s15 {margin-left: 93.75%;}
		&.offset-s16 {margin-left: 100%;}
	}

////component\\\\
	.headline {
		color: $text-1;
		@include slow-move(color, .4s, ease-in);
		&.h1 {
			font-size: $rem-24;
			line-height: $rem-36;
		}
		&.h2 {
			font-size: $rem-21;
			line-height: $rem-32;
		}
		&.h3 {
			font-size: $rem-18;
			line-height: $rem-28;
		}
		&.h4 {
			font-size: $rem-16;
			line-height: $rem-24;
		}
		&.h5 {
			font-size: $rem-14;
			line-height: $rem-21;
		}
		&.h6 {
			font-size: $rem-12;
			line-height: $rem-18;
		}
	}
	button {
		cursor:pointer;
		outline: none;
		border: 0px solid transparent;
		@include border-box;
		/////old/////
		&.bt-delete {
			background-color: #FF7171;
			border: 0px solid #FF7171;
			border-radius: 5px;
			color: #FFF;
			border-bottom: 2px solid #E56B6B;
			border-right: 1px solid #D38D8D;
			i {
				color: #fff;
			}
			&:hover {

			}
		}
		&.shop-buy {
			background-color: #25A810;
			border: 0px solid #25A810;
			border-radius: 5px;
			color: #FFFFFF;
			border-bottom: 2px solid #1C5F11;
			border-right: 1px solid #1A740C;
			width: 120px;
			font-size: 1.5em;
			padding: 5px 10px;
		}
		&.buy {
			background: $theme-1;
			color: #fff;
			border-radius: $radius;
			font-size: $rem-14;
		}
	}
	//// Link btn\\\\
	hover_status {
		@include linear-gradient(-90deg, rgba($sub-theme-color, .8), rgba($theme-color, .8));
	}
	.btn {
		cursor: pointer;
		display: inline-block;
		border-radius: $radius;
		font-size: $rem-18;
		line-height: $rem-28;
		background: $theme-inactive;
		color: $text-2;
		padding: 8px 16px;
		@include slow-move(all, .2s, easin-in);
		//// Status \\\\
		&.primary {
		    //background: $theme-2;
		    color: #fff;
		    @include linear-gradient(-90deg, $sub-theme-color, $theme-color);
		    &:hover {
		    	 @extend hover_status;
		    }
		}
		&.air {
			border: 1px solid $theme-1;
			background: transparent;
			@include text-linear-gradient(0deg, $sub-theme-color, $theme-color);
		    
		    &:hover {
				border: 1px solid $theme-2;
				@extend hover_status;
		    }
		}
		&.chubby {
			border-radius: 25px;
			padding: 8px 24px;
		}
		&.space {
			border-width: 0px;
			background: transparent;
			@include text-linear-gradient(0deg, $sub-theme-color, $theme-color);
			&:hover {
				@extend hover_status;
			}
		}
		&.icon {
			color: #fff;
		    @include linear-gradient(-90deg, $sub-theme-color, $theme-color);
			i{
				
			}
		}
		&.disable {
		    background: $theme-inactive;
		    color: $text-2;
		    cursor: default;
		}
	}
	//// functional btn \\\\
	.func {
		border: 1px solid $theme-inactive;;
		border-radius: 50%;
		width: 24px;
		height: 24px;
		position: relative;
		display: flex;
		padding: 0;
		background: transparent;
		@include border-box;
		@include slow-move(all, .2s, ease-in);
		////children\\\\
		&:before {
			content: '';
			position: relative;
			border: 0px solid #aaa;
			@include slow-move(all, .2s, ease-in);
			@include border-box;
			margin: auto;
		}
		//// Status \\\\
		&.arrow {
			&:before {
				width: 12px;
				height: 12px;
				border-width: 0 2px 2px 0;
			}
			&:hover {
				border-color: $theme-1;
				&:before {
					border-color: $theme-1;
				}
			}
			////side\\\\
			&.down {
				&:before {
					@include rotate(45deg);
					top: -2px;
				}
				&:hover {
					&:before {
						top: 0px;
					}
				}
			}
			&.up {
				&:before {
					@include rotate(225deg);
					top: 2px;
				}
				&:hover {
					&:before {
						top: 0px;
					}
				}
			}
			&.right {
				&:before {
					@include rotate(315deg);
					left: -2px;
				}
				&:hover {
					&:before {
						left: 0px;
					}
				}
			}
			&.left {
				&:before {
					@include rotate(135deg);
					left: 2px;
				}
				&:hover {
					&:before {
						left: 0px;
					}
				}
			}
		}
	}
	.switch {
		
	}




	////////////////
	.field_title {
		color: $text-2;
		font-size: $rem-14;
		font-weight: 700;
		text-indent: 1px;
		letter-spacing: 1px;
		position: absolute;
		left: 0;
		top: 0;
		@include slow-move(all, .4s, ease-in);
	}
	input {
		outline: none;
		+ label {
			@include slow-move(all, .4s, ease-in);
			&:before, &:after {
				content: '';
				@include slow-move(all, .4s, ease-in);
			}
		}
		&[type="radio"]{
			display: none;
			+ label {
				position: relative;
				margin: 0 8px;
				color: $theme-inactive;
				display: inline-block;
				&:before, &:after {
					-webkit-border-radius: 50%;
					        border-radius: 50%;
				} 
				&:before {
					width: 12px;
					height: 12px;
					border: 2px solid $theme-inactive;
					display: inline-block;
					position: relative;
					top: 2px;
					margin-right: 6px;
				}
			}
			&:checked {
				+label {
					color: $theme-1;
					&:before {
						border: 2px solid $theme-1;
					}
					&:after {
						width: 8px;
						height: 8px;
						position: absolute;
						left: 4px;
						top: 6px;
						background: $theme-1;
					}
				}
			}
		}
		&[type="checkbox"]{
			display: none;
			+ label {
				width: 10px;
				height: 10px;
				margin: 0 auto;
				display: block;
				position: relative;
				border: 1px solid $theme-inactive;
			}
			&:checked {
				+ label {
					border: 1px solid $theme-inactive;
					&:before {
						width: 5px;
						height: 15px;
						display: block;
						position: absolute;
						top: -8px;
						left: 5px;
						border: 2px solid $theme-1;
						border-top: 0;
						border-left: 0;
						@include rotate(45deg);
					}
				}
			}
		}
		&[type="text"]{
			@include slow-move(all, .4s, ease-in);
			@include border-box;
			border: 0;
			border-bottom: 1px solid $theme-inactive;
			background: transparent;
			color: $text-1;
			text-indent: 1px;
			letter-spacing: 1px;
			padding: 4px;
			font-size: $rem-14;
			////status\\\\
			&:focus {
				border-bottom: 1px solid $theme-1;
				box-shadow: 0 1px 0 0 #dfdfdf;
			}
			////silbings\\\\
			&.field {
				padding-left: 64px;
				+.title {
					@extend .field_title;
				}
				&:focus {
					+.title {
						color: $theme-2!important;
						font-size: $rem-12!important;
					}
				}
				////check_status\\\\
				&.correct {
					border-bottom: 1px solid $theme-1;
					box-shadow: 0 1px 0 0 #dfdfdf;
					&:after {
						content: '';
					}
				}
				&.error {
					border-bottom: 1px solid $theme-1;
					box-shadow: 0 1px 0 0 #dfdfdf;
					&:after {
						content: '';
					}
				}
			}
		}
	}

	select {
		font-family: inherit;
		font-size: $rem-14;
		border-radius: $radius;
		cursor: pointer;
		outline: none;
		padding: 4px 8px;
		option {
			background: rgba(#fff, .9);
		}
		////silbing\\\\
		&.field {
			border: 0 solid $theme-inactive;
			border-width: 0 0 1px 0;
			border-radius: 0;
			background: transparent;
			padding: 2px 0;	//align to normal input
			padding-left: 64px;
			+.title {
				@extend .field_title;
				top: 2px;
			}
			////status\\\\
			&:focus {
				+.title{
					color: $theme-2!important;
					font-size: $rem-12!important;
				}
			}
		}
	}
////Extend Area\\\\
card_1 {
	@include shadow(0px, 1px, 0px, 0px, #000, .76);
}
////////////////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////
/////////////////////////
//////////////////
////////////
//////////////////////////////
///////////////////////////////////
////////////////////////////////////////////
/////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////
/////////////////////////
//////////////////
////////////
//////////////////////////////
///////////////////////////////////
////////////////////////////////////////////
/////////////////////////////////////////////////////////
body {
	background: $bg-body;
}
html {font-size: 75%;}
body {font-size: 1rem;}
////////////////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////
/////////////////////////
//////////////////
////////////
//////////////////////////////
///////////////////////////////////
////////////////////////////////////////////
/////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////
/////////////////////////
//////////////////
////////////
//////////////////////////////
///////////////////////////////////
////////////////////////////////////////////
/////////////////////////////////////////////////////////

//// Future Upgrate \\\\

	//// Grid \\\\
	/*
	.col {
		float: left;
		&.s1  {width: 04.167%;}
		&.s2  {width: 08.333%;}
		&.s3  {width: 12.5%;}
		&.s4  {width: 16.667%;}
		&.s5  {width: 20.833%;}
		&.s6  {width: 25%;}
		&.s7  {width: 29.167%;}
		&.s8  {width: 33.333%;}
		&.s9  {width: 37.5%;}
		&.s10 {width: 41.667%;}
		&.s11 {width: 45.833%;}
		&.s12 {width: 50%;}
		&.s13 {width: 54.167%;}
		&.s14 {width: 58.333%;}
		&.s15 {width: 62.5%;}
		&.s16 {width: 66.667%;}
		&.s17 {width: 70.833%;}
		&.s18 {width: 75%;}
		&.s19 {width: 79.167%;}
		&.s20 {width: 83.333%;}
		&.s21 {width: 87.5%;}
		&.s22 {width: 91.667%;}
		&.s23 {width: 95.833%;}
		&.s24 {width: 100%;}
		//////
		&.offset-s1  {margin-left: 04.167%;}
		&.offset-s2  {margin-left: 08.333%;}
		&.offset-s3  {margin-left: 12.5%;}
		&.offset-s4  {margin-left: 16.667%;}
		&.offset-s5  {margin-left: 20.833%;}
		&.offset-s6  {margin-left: 25%;}
		&.offset-s7  {margin-left: 29.167%;}
		&.offset-s8  {margin-left: 33.333%;}
		&.offset-s9  {margin-left: 37.5%;}
		&.offset-s10 {margin-left: 41.667%;}
		&.offset-s11 {margin-left: 45.833%;}
		&.offset-s12 {margin-left: 50%;}
		&.offset-s13 {margin-left: 54.167%;}
		&.offset-s14 {margin-left: 58.333%;}
		&.offset-s15 {margin-left: 62.5%;}
		&.offset-s16 {margin-left: 66.667%;}
		&.offset-s17 {margin-left: 70.833%;}
		&.offset-s18 {margin-left: 75%;}
		&.offset-s19 {margin-left: 79.167%;}
		&.offset-s20 {margin-left: 83.333%;}
		&.offset-s21 {margin-left: 87.5%;}
		&.offset-s22 {margin-left: 91.667%;}
		&.offset-s23 {margin-left: 95.833%;}
		&.offset-s24 {margin-left: 100%;}
	}
	.row {	//naming is not good enough
		&.h1 {height: 12px;}
		&.h2 {////}
	}
	*/

