/*
Rules:
	-----font------
	html {font-size: 75%;}
	body {font-size: 1rem;}

	.5rem	 = 6px;  
	.75rem	 = 9px;
	.8333rem = 10px;
	1rem	 = 12px;
	1.167rem = 14px;
	1.333rem = 16px;
	1.5rem = 18px;
	1.75rem	 = 21px;
	2rem	 = 24px;
	2.333rem = 28px;
	-----color-----
        
	-----grid-----


*/
/////Fonts\\\\\
	$rem-10: .8333rem;	//disable!?
	$rem-12: 1rem;
	$rem-14: 1.167rem;
	$rem-16: 1.333rem;
	$rem-18: 1.5rem;
	$rem-21: 1.75rem;
	$rem-24: 2rem;
	$rem-28: 2.333rem;
/////Colour\\\\\
	$bg-body: #ebebeb; //temp
	$bg-card: #f3f3f3;	//temp

	$light-line: 1px solid #e5e5e5;
	
	$theme-color: #f75d3c;
	$sub-theme-color: #f02071;
	$text-color: #000;
	$text-reverse-color: #fff;
	$error-color: #f02071;
	$price-color: rgba(#f02071, 1);
	//$price-color: rgba(#e52d27, 1); //Youtube Red

	$primary-rate: 1;
	$second-rate: .87;
	$third-rate: .54;
	$inactive-rate: .26;
	
	//$theme-0: $theme-color * -----;	//dark
	$theme-1: rgba($theme-color, $primary-rate);	//normal
	$theme-2: rgba($theme-color, $second-rate);
	$theme-3: rgba($theme-color, $third-rate);
	$theme-inactive: rgba($text-color, $inactive-rate);

	$text-1: rgba($text-color, $second-rate);//normal
	$text-2: rgba($text-color, $third-rate);
	$text-inactive: rgba($text-color, $inactive-rate);

	$text-reverse-1: rgba($text-reverse-color, $second-rate);	//normal
	$text-reverse-2: rgba($text-reverse-color, $third-rate);
	$text-reverse-inactive: rgba($text-reverse-color, $inactive-rate);
/////Function\\\\\
	@mixin border-box(){
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	};
	@mixin text-hide(){
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	};
	@mixin rotate($deg) {
		-webkit-transform: rotateZ($deg);
		   -moz-transform: rotateZ($deg);
			-ms-transform: rotateZ($deg);
			 -o-transform: rotateZ($deg);
				transform: rotateZ($deg);
	}
	@mixin shadow($h, $v, $blur, $spread, $color, $alpha){
		-webkit-box-shadow: $h $v $blur $spread rgba($color, $alpha);
		   -moz-box-shadow: $h $v $blur $spread rgba($color, $alpha);
			 -o-box-shadow: $h $v $blur $spread rgba($color, $alpha);
				box-shadow: $h $v $blur $spread rgba($color, $alpha);
	}
	@mixin blur($px){
		-webkit-filter: blur($px);
		   -moz-filter: blur($px);
			 -o-filter: blur($px);
			-ms-filter: blur($px);
				filter: blur($px);
	}
	@mixin slow-move($attr,$time,$move){	//not integrate
		-webkit-transition: $attr $time $move;
		   -moz-transition: $attr $time $move;
			 -o-transition: $attr $time $move;
				transition: $attr $time $move;
	}
/////Animation\\\\\
	@mixin animation($animate) {
		$max: length($animate);
		$animations: '';

		@for $i from 1 through $max {
			$animations: #{$animations + nth($animate, $i)};

			@if $i < $max {
				$animations: #{$animations + ", "};
			}
		}
		-webkit-animation: $animations;
		-moz-animation:	$animations;
		-o-animation:	  $animations;
		animation:		 $animations;
	}

	@mixin keyframes($animationName) {
		@-webkit-keyframes #{$animationName} {
			@content;
		}
		@-moz-keyframes #{$animationName} {
			@content;
		}
		@-o-keyframes #{$animationName} {
			@content;
		}
		@keyframes #{$animationName} {
			@content;
		}
	}
/////Class\\\\\
	.clearfix {
		&:before {
			content: '';
			display: table;
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
	////align\\\\
	.middle-align {
		display: table;
		>* {
			display: table-cell;
			vertical-align: middle;
			float: none;
		}
	}
	.flex {
		display: flex;
		float: none;
		&.c-c {
			justify-content: center;
			align-items: center;
		}
		&.l-c {
			justify-content: flex-start;
			align-items: center;
		}
		&.r-c {
			justify-content: flex-end;
			align-items: center;
		}
	}
	.center {text-align: center;}
	.right  {text-align: right;}
	.left   {text-align: left;}
	//////
	.th-xs  {width: 60px;}
	.th-xxs {width: 20px;}

	.col-xs {width: 5%;}
	.col-s  {width: 7.5%;}
	.col-m  {width: 10%;}
	.col-l  {width: 30%;}
	.col-xl {width: 50%;}
	///////
	.row {
		&.xs {min-height: 24px;}
		&.s  {min-height: 48px;}
		&.m  {min-height: 72px;}
		&.l  {min-height: 96px;}
	}
	.col {
		float: left;
		//min-height: 1px;
		/*
		&.s1  {width: 08.333%;}
		&.s2  {width: 16.777%;}
		&.s3  {width: 25%;}
		&.s4  {width: 33.333%;}
		&.s5  {width: 41.667%;}
		&.s6  {width: 50%;}
		&.s7  {width: 58.333%;}
		&.s8  {width: 66.667%;}
		&.s9  {width: 75%;}
		&.s10 {width: 83.333%;}
		&.s11 {width: 91.667%;}
		&.s12 {width: 100%;}
		*/
		&.s1  {width: 06.25%;}
		&.s2  {width: 12.5%;}
		&.s3  {width: 18.75%;}
		&.s4  {width: 25%;}
		&.s5  {width: 31.25%;}
		&.s6  {width: 37.5%;}
		&.s7  {width: 43.75%;}
		&.s8  {width: 50%;}
		&.s9  {width: 56.25%;}
		&.s10 {width: 62.5%;}
		&.s11 {width: 68.75%;}
		&.s12 {width: 75%;}
		&.s13 {width: 81.25%;}
		&.s14 {width: 87.5%;}
		&.s15 {width: 93.75%;}
		&.s16 {width: 100%;}
		//////
		&.offset-s1  {margin-left: 06.25%;}
		&.offset-s2  {margin-left: 12.5%;}
		&.offset-s3  {margin-left: 18.75%;}
		&.offset-s4  {margin-left: 25%;}
		&.offset-s5  {margin-left: 31.25%;}
		&.offset-s6  {margin-left: 37.5%;}
		&.offset-s7  {margin-left: 43.75%;}
		&.offset-s8  {margin-left: 50%;}
		&.offset-s9  {margin-left: 56.25%;}
		&.offset-s10 {margin-left: 62.5%;}
		&.offset-s11 {margin-left: 68.75%;}
		&.offset-s12 {margin-left: 75%;}
		&.offset-s13 {margin-left: 81.25%;}
		&.offset-s14 {margin-left: 87.5%;}
		&.offset-s15 {margin-left: 93.75%;}
		&.offset-s16 {margin-left: 100%;}
	}
/////Var\\\\\
	$radius: 4px;
	$inner-dis: 1.5rem;
	$col-height: 84px;
////////////////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////
/////////////////////////
//////////////////
////////////
//////////////////////////////
///////////////////////////////////
////////////////////////////////////////////
/////////////////////////////////////////////////////////
body {
	background: $bg-body;
}
.container {
	position: relative;
	width: 1180px;
	margin: 20px auto 500px;
	>section {	//not here
		margin: 50px auto;
		&.shop-car {
			padding: 0;	//// important
			border-radius: $radius;
			@include shadow(0, 1px, 3px, 0, #000, .45);
			margin-bottom: 50px;
			background: $bg-card;
			.store {
				$distance: .7rem;
				height: ($col-height / 3) * 2;
				padding: $distance;
		  		//width: calc(100% - #{$distance * 2});
		  		width: 100%;
		  		background: #fff;
		  		@include border-box();
		  		border-bottom: 1px solid $theme-1;
		  		figure {
		  			width: 40px;
		  			a {
		  				display: block;
		  				border-radius: 50%;
		  				overflow: hidden;
		  				border: 1px solid $theme-2;
						img {
							width: 100%;
				  		}
		  			}
		  		}
		  		.name {
		  			a {
						padding: 0px 10px;
						font-size: $rem-21;
			  			color: $text-2;
			  			font-weight: 900;
		  			}
		  		}
			}
		}
	}
}

.main-table {
	width: 100%;
	background: #fff;
	border-collapse: collapse;
	border-spacing: 0px;
	th, td {	//general setting
		padding: 4px;
		vertical-align: middle;
		@include slow-move(all, .4s, ease-in);
	}
	tr {
		@include slow-move(all, .4s, ease-in);
	}
	thead {
		tr {
			border-bottom: 1px solid #ececec; //temp
			height: ($col-height / 2);
			th {
				font-size: $rem-14;
				color: $text-2;
			}
		}
	}
	tbody {
		tr {
			height: ($col-height / 2);
			&.cargos-tr {
				height: $col-height;
			}
			&:last-of-type {
				td {
					border-bottom: 0px;
				}
			}
			////move\\\\
			&:hover {
				padding-left: 4px solid $theme-2;
				@include border-box();
			}
		}
		td {
			border-bottom: 1px solid #ececec; //temp
			&:first-of-type, &:nth-of-type(2) {
				border-bottom: 1px solid transparent;
			}
			////Slibings ele\\\\
			&.name {
				a {
					color: $text-1;
					font-size: $rem-14;
					&:hover {
						color: $theme-2;
					}
				}
			}
			&.price {
				padding: 0 20px;
			}
			&.nav-info {
				font-size: $rem-12;
		  		color: #545454;//temp
			}
			&.this-pay {
				.mode {
					border: 1px solid #aaa; //temp
				}
			}
			////Children ele\\\\
			figure {
				width: 64px;
				height: 64px;
				overflow: hidden;
				margin: 0 auto;
				img {
					width: 100%;
				}
			}
			.attention-please {
				color: $error-color;
				display: block;
				font-size: $rem-12;
			}
		}
	}
}
.car-bottom {
	border-top: 1px solid #ddd;
	box-shadow: 0 1px 0 0 #fff inset;
	.col-ship {
		width: 50%;
		float: left;
		////children\\\\
		>div {
			padding: $inner-dis;
		}
		.title {
			font-size: $rem-12;
			display: inline-block;
			.fa-truck {
				color: #9E9E9E;
				cursor: pointer;
			}
		}
		.ship-list {
			display: inline-block;
			span.spec-style {
				padding: 4px 8px;
				border-radius: $radius;
				color: #898989;
				border: 1px solid #898989;
				margin-left: 5px;
				background: #fff;
			}
		}
		.ship-price {

		}
		.free {
			color: #278E28;//temp
		}
	}
	.col-total {
		width: 50%;
		float: left;
		>div {
			padding: $inner-dis;
		}
		.title {
			display: inline-block;
		}
		.shop-total {
			display: inline-block;
			font-size: $rem-21;
			color: $price-color;
			font-weight: 900;
		}
	}
	.col-action {
		width: 100%;
		float: left;
	}
}
.container {
	.shop-car {
		padding: 0;	//// important
		border-radius: $radius;
		@include shadow(0, 1px, 3px, 0, #000, .45);
		margin-bottom: 50px;
		background: $bg-card;
		.store {
			border-top: 1px solid $theme-1; //temp
			box-shadow: 0 1px 0 0 #fff inset; //temp
			@include border-box;
			margin: 8px;
			figure {
				img {
					border-radius: 50%;
					border: 1px solid $theme-1;
					width: 40px; //temp
				}
				figcaption {
					padding: 0px 10px;
					font-size: $rem-21;
			  		color: $text-2;
			  		font-weight: 900;
				}
			}
			.func {

			}
		}
		.pay-way {
			border-top: 1px solid #aaa; //temp
			box-shadow: 0 1px 0 0 #fff inset; //temp
			margin: 8px;
			.title {
				font-size: $rem-16;
			}
		}
		.main-content {
			.ship {
				.title {
					font-size: $rem-14;
				}
				.content {

				}
				.sum {

				}
				.wording {

				}
			}
			.list {
				.title {
					div {
						font-size: $rem-14;
						color: $text-2;
					}
				}
				.content {
					div {
						font-size: $rem-14;
						color: $text-2;
					}
					figure {
						
					}
				}
			}
		}
		.summary {
			.title {

			}
			.func {

			}
		}
	}
}
///////////////////
button {
	cursor:pointer;
	&.bt-delete {
		background-color: #FF7171;
		border: 0px solid #FF7171;
		border-radius: 5px;
		color: #FFF;
		border-bottom: 2px solid #E56B6B;
		border-right: 1px solid #D38D8D;
		i {
			color: #fff;
		}
		&:hover {

		}
	}
	&.shop-buy {
		background-color: #25A810;
		border: 0px solid #25A810;
		border-radius: 5px;
		color: #FFFFFF;
		border-bottom: 2px solid #1C5F11;
		border-right: 1px solid #1A740C;
		width: 120px;
		font-size: 1.5em;
		padding: 5px 10px;
		&:hover {

		}
	}
}
.btn {
	&.arrow-down {
		
	}
}
input {
	&[type="radio"]{
		display: none;
		+ label {
			&:before {
				content: '';
				width: 10px;
				height: 10px;
				border-radius: 50%;
				border: 2px solid #aaa;
				display: inline-block;
				position: relative;
			}
		}
		&:checked {
			+label {
				&:before {
					border: 2px solid #000;
				}
			}
		}
	}
	&[type="checkbox"] {
		display: none;
		+ label {
			width: 10px;
			height: 10px;
			margin: 0 auto;
			display: block;
			position: relative;
			border: 1px solid $theme-inactive;
			@include slow-move(all, .4s, ease-in);
		}
		&:checked {
			+ label {
				border: 1px solid $theme-inactive;
				&:before {
					content: '';
					width: 5px;
					height: 15px;
					display: block;
					position: absolute;
					top: -8px;
					left: 5px;
					border: 2px solid $theme-1;
					border-top: 0;
					border-left: 0;
					@include rotate(45deg);
				}
			}
		}
	}
}
select {
	font-family: inherit;
	border-radius: $radius;
	cursor: pointer;
}
////////////////
	.ship-tr, .ship-free-tr{
		//border-bottom: 1px dashed #ececec;
		background-color: #F9F9F9;
	}


	.ship-info {
		color: #A3A3A3;
		border: 1px solid #a3a3a3;
		padding: 2px 5px;
		margin: 2px;
		border-radius: 5px;
	}
	.pay-type-info {
		color: #C4D71B;
		  border: 1px solid #C4D71B;
		  padding: 2px 5px;
		  margin: 2px;
		  border-radius: 5px;
	}
	#buy-cover {
		position: fixed;
		width: 100%;
		height: 3000px;
		z-index: 1000;
		background-color: #fff;
		top: 0px;
		left: 0px;
		display: none;
		section {
			position: relative;
			width: 125px;
			margin: 20% auto;
			font-size: 2.0em;
			font-family: inherit;
		}
	}
/*
	.sum-price{
		text-align: right;
		.word {

		}
		.cash {
			font-size: 3.0em;
			font-weight: 900;
 			color: #FF5B5B;
 			font-family: sans-serif;
		}
	}
	#check-button {
		width: 100%;
		font-size: 2.0em;
		background-color: #0CA950;
		color: #fff;
		font-weight: 900;
		border-radius: 10px;
		padding: 10px;
		border: 0px;
	}
*/
.spinner {
	/* margin: 0px auto; */
	width: 70px;
	position: absolute;
	top: 0px;
	/* text-align: center; */
	left: 130px;
	>div {
		width: 10px;
		height: 10px;
		background-color: #333;
		border-radius: 100%;
		display: inline-block;
		-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
		animation: bouncedelay 1.4s infinite ease-in-out;
		/* Prevent first frame from flickering when animation starts */
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}
	.bounce1 {
		-webkit-animation-delay: -0.32s;
		animation-delay: -0.32s;
	}
	.bounce2 {
		-webkit-animation-delay: -0.16s;
		animation-delay: -0.16s;
	}
}

@-webkit-keyframes bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0.0) }
	40% { -webkit-transform: scale(1.0) }
	}

	@keyframes bouncedelay {
	0%, 80%, 100% {
	transform: scale(0.0);
	-webkit-transform: scale(0.0);
	} 40% {
	transform: scale(1.0);
	-webkit-transform: scale(1.0);
	}
}