extends ./_layout.jade

block p_title
	title 產品資訊
block extra_style
	link(rel="stylesheet", href="/css/franchise.css")
block main_content
	.container-fluid.full_bg
		section.intro.container
			h1.headline
				p.zh 產品資訊
				p.en Product
			h2.slogan
				img(src="/images/slogan_en.svg", alt="")
	.container
		section.intro
			p.para 欣臨代理的產品，除擁有國際第一大品牌的形象之外，更在產品品質上具有相當程度的管控與消費品質。而產品種類包含食品類別外，亦代理個人保健、保養之日常生活用品類。 我們相信好的生活品質，部份是來自優良的物質生活，也因此欣臨代理的產品更希望能滿足消費者對生活物質上的滿足感，進而讓每個人享受生活的樂趣。
		section.sec.brand_list
			header
				h3.title
					span.en Brand
					span.zh 品牌列表
				ul.nav.nav-tabs.hidden-md-down
					li.nav-item
						.nav-link.filter(class='active', data-filter='all') 全部
					li.nav-item
						.nav-link.filter(data-filter='.food') 食品雜貨
					li.nav-item
						.nav-link.filter(data-filter='.candy') 零食糖果
					li.nav-item
						.nav-link.filter(data-filter='.drink') 沖泡飲品
					li.nav-item
						.nav-link.filter(data-filter='.house') 日常用品
					li.nav-item
						.nav-link.filter(data-filter=".hair") 專業沙龍
			.content
				ul.logo_list#container
					-var brands = ['1','2','3','4','5','6','8','9','10','11','12','13','14','16','17','18','19','21','22','24','26','27','30','31','32','33','34','37','38','39','40','41','42','43','44','45','46','47','48','49','51'];

					-var cata = ['house','house','food','house','food','food','food','drink','candy','hair','food','food','food','food','house','candy','food','candy','drink','house','candy','candy','food','house','food','food','house','house','drink','hair','house','food','house','hair','drink','food','food','food','food','food','food','food'];
					-for (var i=0; i<brands.length; ++i) {
						li.mix.logo(class!=cata[i],data-myorder="1")
							a(href="/brand/franchise_"+brands[i]+".html")
								img(src="images/brand/agent-"+brands[i]+".png", alt="")
					-}
		hr.divider
		section.sec
			header
				h3.title
					span.en Sales Channel
					span.zh 銷售地點
			.content
				.row
					.col-md-5.offset-md-1.col-sm-5.offset-sm-1.col-xs-12
						.channel-wrap
							.channel
								figure.image
									img(src="images/c_2.jpg", alt="")
								h4.eesay
									p.zh 實體通路
									p.en offline
							ul.channel-list
								li.title 精品百貨：
									//-：SOGO、新光三越
								li.details.images.clearfix
									ul.details
										li.image
											img(src='images/channel/sogo.png')
										li.image
											img(src='images/channel/shin.png')
								li.title 實體通路：
								li.details
									p 便利超商、藥局、各大賣場、五金百貨
					.col-md-5.col-sm-5.col-xs-12
						.channel-wrap
							.channel
								figure.image
									img(src="images/c_1.jpg", alt="")
								h4.eesay
									p.zh 虛擬通路
									p.en online
							ul.channel-list
								li.title 網路平台：
								li.details.images.clearfix
									ul.details
										li.image
											img(src='images/channel/pc.png')
										li.image
											img(src='images/channel/yahoo.png')
										li.image
											img(src='images/channel/momo.png')
										li.image
											img(src='images/channel/7net.png')
										li.image
											img(src='images/channel/thl.png')
											//-PChome、7-NET、MOMO、PayEasy、Yahoo!奇摩購物中心
								li.title 電視購物：
								li.images.clearfix
									ul.details
										li.image
											img(src='images/channel/ehs.png')
										li.image
											img(src='images/channel/momo.png')
										//-東森、 MOMO 
					.col-md-11.offset-md-1.col-sm-11.offset-sm-1
						p.para.
							欣臨於全台各大經銷點均有完整的商品陳列 </br>
							您可參考以下銷售地點，或來電 (02)2506-7777 </br>
							欣臨在台北、台中、高雄設有公司據點，若有團購需求請與我聯絡！(施華蔻系列商品不提供團購服務) </br>
							欣臨將會提供完整的銷售資訊及商品最新情報給您！謝謝
block extra_script
	script(src='js/jquery.mixitup.min.js')
	script.
		$(function(){
			$('#container').mixItUp();
		});