extends ./../_layout.jade

block p_title
	title 產品資訊
block extra_style
	link(rel="stylesheet", href="../css/franchise.css")
block main_content
	.container-fluid.full_bg
		section.intro.container
			h1.headline
				p.zh 產品資訊
				p.en Brand
			h2.slogan
				img(src="/images/slogan_en.svg", alt="")
	.container.back
		button.btn.hidden-md-down(onclick='history.back()') 
			i.fa(class='fa-chevron-left' aria-hidden='true')
			span 回上一頁
	article.container.article-wrap
		.row
			.col-md-4.col-sm-12
				figure.brand_logo
					img(src="../images/brand/agent-40.png", alt="")
			.col-md-8.col-sm-12
				section.article
					h3.title Movenpick 
					p.para
						|來自自然純淨瑞士的Mövenpick冰淇淋，發跡於1984年，至今已有半個世紀，與製造世界頂級的機械名錶來自同一個故鄉。Mövenpick冰淇淋以頂級天然的原料製作，再加上瑞士人對於品質的堅持，以嚴格禁止使用任何化學及人工添加物而聞名，同時以最新科技設備追求產品的最高品質，不斷發展創新技術，精益求精；造就出歐洲第一品牌冰淇淋。同時Mövenpick也是一家提供五星級/國際連鎖餐飲管理的跨國企業， 母集團在瑞士股票上市，穩踞場領導地位，以高品質的服務享譽國際。

					figure.pic
						img(src="../images/brand/agent-40-pro.png", alt="")



block extra_script