extends ./_layout.jade

block p_title
	title 產品資訊
block extra_style
	link(rel="stylesheet", href="css/franchise.css")
block main_content
	.container-fluid.full_bg
		section.intro.container
			h1.headline
				p.zh 產品資訊
				p.en Franchise
			h2.slogan
				img(src="images/slogan.png", alt="")
	.container.back
		button.btn.hidden-md-down(onclick='history.back()') 
			i.fa(class='fa-chevron-left' aria-hidden='true')
			span 回上一頁
	article.container.article-wrap
		.row
			.col-md-4.col-sm-12
				figure.brand_logo
					img(src="images/insdie_logo.jpg", alt="")
			.col-md-8.col-sm-12
				section.article
					h3.title HEINZ 亨氏
					p.para.
						亨氏集團於1869年在美國成立，是世界首屈一指的食品領導品牌。亨氏集團的分公司和分支機搆遍佈全球200多個國家及地區， 擁有50多個全球數一數二的著名品牌，是全球營養食品工業的領導者之一，為全球消費者提供「最好的產品」。集團的主要產品包括番茄醬和調味品、正餐和零食以及嬰幼兒營養品三大類。
					p.para.
						其中亨氏旗艦產品「亨氏番茄醬」，100%純天然，世界銷售第一，每年熱銷超過6億5千萬瓶。亨氏每年生產的小袋裝番茄醬多達110億包， 相當於全球每人2包。 「亨氏就是番茄醬」更為全世界的人們津津樂道。
					figure.pic
						img(src="images/inside_img.jpg", alt="")

block extra_script