extends ./../_layout.jade

block p_title
	title 產品資訊
block extra_style
	link(rel="stylesheet", href="../css/franchise.css")
block main_content
	.container-fluid.full_bg
		section.intro.container
			h1.headline
				p.zh 產品資訊
				p.en Product
			h2.slogan
				img(src="/images/slogan_en.svg", alt="")
	.container.back
		button.btn.hidden-md-down(onclick='history.back()') 
			i.fa(class='fa-chevron-left' aria-hidden='true')
			span 回上一頁
	article.container.article-wrap
		.row
			.col-md-4.col-sm-12
				figure.brand_logo
					img(src="../images/brand/agent-18.png", alt="")
			.col-md-8.col-sm-12
				section.article
					h3.title HARIBO 哈利寶
					p.para
						|HARIBO是世界最大的軟糖製造商，於1920年由「Dr. Hans Riegel」在德國Bonn創立(HARIBO = Hans+Riegel+Bonn)，1946年由瑞吉爾的兒子接手經營， 以「金熊Q軟糖」與「可樂風味Q軟糖」聞名全世界，特殊原料祕方與製造方法，創造出迷人的Q軟口感，糖果主打不添加人工色素及不含反式脂肪。創辦人瑞吉爾也被譽為「小熊軟糖之父」。 
					p.para
						|HARIBO 的品牌精神口號「“ KIDS AND GROWN-UPS LOVE IT SO, THE HAPPY WORLD OF HARIBO” 大人小孩都說好，快樂品嚐哈瑞寶！」，多年來深植人心！歷年獲得德國多項優質食品品牌獎項，保證其優良高品質！陪伴數百萬家庭，走過無數歡樂時光。

					figure.pic
						img(src="../images/brand/agent-18-pro.jpg", alt="")

block extra_script