extends ./../_layout.jade

block p_title
	title 產品資訊
block extra_style
	link(rel="stylesheet", href="../css/franchise.css")
block main_content
	.container-fluid.full_bg
		section.intro.container
			h1.headline
				p.zh 產品資訊
				p.en Franchise
			h2.slogan
				img(src="../images/slogan.png", alt="")
	.container.back
		button.btn.hidden-md-down(onclick='history.back()') 
			i.fa(class='fa-chevron-left' aria-hidden='true')
			span 回上一頁
	article.container.article-wrap
		.row
			.col-md-4.col-sm-12
				figure.brand_logo
					img(src="../images/brand/agent-48.png", alt="")
			.col-md-8.col-sm-12
				section.article
					h3.title Dolfin
					p.para
						|Dolfin來自義大利環境純淨且果物豐饒的西西里島，自1914年起，近百年來長時間由Dolfin家族用心經營，秉持使用天然原料，全系列果汁產品以真正的果汁製作，無添加人工色素，高溫殺菌處理，不含防腐劑。其中輕巧方便的果汁冰棒系列，常溫保存是果汁，食用前冰凍至少3小時是冰棒；自2010年進入亞洲市場，深受大小朋友喜愛!

					figure.pic
						img(src="../images/brand/agent-48-pro.jpg", alt="")

block extra_script