extends ./../_layout.jade

block p_title
	title 產品資訊
block extra_style
	link(rel="stylesheet", href="../css/franchise.css")
block main_content
	.container-fluid.full_bg
		section.intro.container
			h1.headline
				p.zh 產品資訊
				p.en Brand
			h2.slogan
				img(src="/images/slogan_en.svg", alt="")
	.container.back
		button.btn.hidden-md-down(onclick='history.back()') 
			i.fa(class='fa-chevron-left' aria-hidden='true')
			span 回上一頁
	article.container.article-wrap
		.row
			.col-md-4.col-sm-12
				figure.brand_logo
					img(src="../images/brand/agent-41.jpg", alt="")
			.col-md-8.col-sm-12
				section.article
					h3.title 天工
					p.para.
						天工日用品從1953年開始銷售，至今已有63年的歷史！台灣人九成以上家庭都使用過天工商品，陪伴台灣人渡過產業轉型的50-60年代、經濟起飛的70-80年代，一路走到目前現代化社會，見證台灣的成長，與台灣人有深刻的情感連結。「簡單實用 巧奪天工」代表著我們不停致力於研發簡單又實用的家庭清潔產品，並秉持著安全、有效、環保的理念，讓我們的消費者能輕鬆打掃擁有一個乾淨無毒的生活環境！
					figure.pic
						img(src="../images/brand/agent-41-pro.jpg", alt="")

block extra_script