extends ./../_layout.jade

block p_title
	title 產品資訊
block extra_style
	link(rel="stylesheet", href="../css/franchise.css")
block main_content
	.container-fluid.full_bg
		section.intro.container
			h1.headline
				p.zh 產品資訊
				p.en Product
			h2.slogan
				img(src="/images/slogan_en.svg", alt="")
	.container.back
		button.btn.hidden-md-down(onclick='history.back()') 
			i.fa(class='fa-chevron-left' aria-hidden='true')
			span 回上一頁
	article.container.article-wrap
		.row
			.col-md-4.col-sm-12
				figure.brand_logo
					img(src="../images/brand/agent-32.png", alt="")
			.col-md-8.col-sm-12
				section.article
					h3.title TABASCO
					p.para
						|TABASCO®成立於1868年，為來自美國路易斯安那州艾弗里島 (Avery Island) McIlhenny公司的註冊商標品牌，目前由第五代McIlhenny家族成員所經營。
					p.para
						|以長時間發酵的TABASCO辣椒泥結合艾弗里島的礦物鹽與法國白醋，精製成味道獨特的塔巴斯科香辣風味。再以專利的古龍水樽般的樽口，讓醬汁優雅的滴出。TABASCO以特殊風味與精緻包裝風靡全球。
					p.para
						|140多年來，McIlhenny公司一直全心投入在可提升食品口味的優質商品，只為證明TABASCO®品牌提供絕不妥協的品質保證。

					figure.pic
						img(src="../images/brand/agent-32-pro.jpg", alt="")
					ul.list
						li 1868年<br>創辦人Edmund McIlhenny先生開始種植第一批商業用途的TABASCO辣椒。
						li 1869年<br>全世界第一瓶以特殊原創包裝的TABASCO®誕生了！當年McIlhenny先生共銷售658瓶。
						li 1900年<br>擁有特殊瓶身設計的TABASCO®成為一部25秒默劇【Aunt Jane’s Experience with TABASCO®】中的最重要的主角。
						li 1946年<br>TABASCO®與血腥瑪莉調酒共結連理。
						li 1949年<br>TABASCO®放眼全球，並成功銷售至全世界100多個國家。
						li 1970年<br>TABASCO®登上外太空。NASA太空人將TABASCO®帶至SkyLab太空站，幫助食物更美味。
						li 1993年<br>TABASCO®青辣椒汁誕生！
						li 1996年<br>TABASCO® 哈巴尼羅辣椒汁與TABASCO® 蒜味紅椒汁誕生！
						li 2001年<br>TABASCO® 煙燻辣椒汁誕生！
						li 2011年<br>TABASCO® 推出美式辣雞翅口味辣椒汁。
						li 2015年<br>全世界第一家TABASCO® 品牌餐廳於艾弗里島 (Avery Island)開幕。
						li 2016年<br>TABASCO® 第一家遊客中心開幕。
						li 2018年<br>TABASCO® 150週年慶。


block extra_script