extends ./../_layout.jade

block p_title
	title 產品資訊
block extra_style
	link(rel="stylesheet", href="../css/franchise.css")
block main_content
	.container-fluid.full_bg
		section.intro.container
			h1.headline
				p.zh 產品資訊
				p.en Franchise
			h2.slogan
				img(src="../images/slogan.png", alt="")
	.container.back
		button.btn.hidden-md-down(onclick='history.back()') 
			i.fa(class='fa-chevron-left' aria-hidden='true')
			span 回上一頁
	article.container.article-wrap
		.row
			.col-md-4.col-sm-12
				figure.brand_logo
					img(src="../images/brand/agent-27.png", alt="")
			.col-md-8.col-sm-12
				section.article
					h3.title 樺達喉糖
					p.para
						|源自法國  植物配方<br>
						|法國藥師亨利艾德蒙•肯農尼(Henri-Edmond Canonne, 1867-1961 )在西元1902年，發明了樺達喉糖。<br>
						|他從薄荷葉萃取出薄荷油，再從尤加利葉(桉葉油醇)、百里香(百里酚)、癒創木提煉出精油，搭配松樹所產的松脂醇，將這五種天然植物配方，加入富含明膠的膏狀物，使這些成分可以漸漸釋出，藉由呼吸緩慢吸收。<br>
						|1908年，樺達喉糖在義大利大受歡迎，這股綠色旋風席捲了三十餘國，先是在西班牙拓展成立工廠，接著在俄國、英國、巴西以及阿根廷，都建立了生產線，之後，產品也逐漸傳到亞洲，在菲律賓和台灣廣受歡迎。

					figure.pic
						img(src="../images/brand/agent-27-pro.jpg", alt="")

block extra_script