extends ./../_layout.jade

block p_title
	title 產品資訊
block extra_style
	link(rel="stylesheet", href="../css/franchise.css")
block main_content
	.container-fluid.full_bg
		section.intro.container
			h1.headline
				p.zh 產品資訊
				p.en Brand
			h2.slogan
				img(src="/images/slogan_en.svg", alt="")
	.container.back
		button.btn.hidden-md-down(onclick='history.back()') 
			i.fa(class='fa-chevron-left' aria-hidden='true')
			span 回上一頁
	article.container.article-wrap
		.row
			.col-md-4.col-sm-12
				figure.brand_logo
					img(src="../images/brand/agent-19.png", alt="")
			.col-md-8.col-sm-12
				section.article
					h3.title 李錦記
					p.para
						|1888年，李錦記創辦人李錦裳先生於中國廣東省珠海南水鎮發明蠔油，創立李錦記。歷經百多年的持續發展，李錦記由小小的蠔油庒發展成為一個家喻戶曉的醬料王國。時至今日，李錦記產品暢銷五大洲一百多個國家，成為品質與信心標誌的國際品質。作為百年民族企業，李錦記貫徹「務實、誠信、永遠創業精神」的經營理念，致力發陽中華優秀飲食文化，以醬料架起促進中吸引食文化交流的橋梁，將中國味道與背後的飲食文化傳播至全世界，遠致「有人的地方就有李錦記」的願景。
					figure.pic
						img(src="../images/brand/agent-19-pro.jpg", alt="")

block extra_script