extends ./../_layout.jade

block p_title
	title 產品資訊
block extra_style
	link(rel="stylesheet", href="../css/franchise.css")
block main_content
	.container-fluid.full_bg
		section.intro.container
			h1.headline
				p.zh 產品資訊
				p.en Product
			h2.slogan
				img(src="/images/slogan_en.svg", alt="")
	.container.back
		button.btn.hidden-md-down(onclick='history.back()') 
			i.fa(class='fa-chevron-left' aria-hidden='true')
			span 回上一頁
	article.container.article-wrap
		.row
			.col-md-4.col-sm-12
				figure.brand_logo
					img(src="../images/brand/agent-43.png", alt="")
			.col-md-8.col-sm-12
				section.article
					h3.title 司迪生
					p.para.
						司迪生公司是斯里蘭卡最大的綜合商業集團，在1977年，開始生產錫蘭茶並出口至世界各國，迄今Stassen司迪生茶品已成為最佳錫蘭茶的代名詞。司迪生茶品100%完全使用產自於自家廣達28,000公頃自有茶園中的茶葉，茶樹生長在陽光充足、雲霧披露的環境，從自然的培育過程中生產出風味獨特的茶葉。茶品包括有機綠茶、紅茶，有機大吉嶺、有機阿薩姆茶，洋甘菊及舒福茶和各類花草茶系列。2015年全面更新最潮國際包裝，以帶有爵士風、草原風的包裝全新上市。
					figure.pic
						img(src="../images/brand/agent-43-pro-1.png", alt="")
						img(src="../images/brand/agent-43-pro-2.png", alt="")

block extra_script