extends ./../_layout.jade

block p_title
	title 產品資訊
block extra_style
	link(rel="stylesheet", href="../css/franchise.css")
block main_content
	.container-fluid.full_bg
		section.intro.container
			h1.headline
				p.zh 產品資訊
				p.en Product
			h2.slogan
				img(src="/images/slogan_en.svg", alt="")
	.container.back
		button.btn.hidden-md-down(onclick='history.back()') 
			i.fa(class='fa-chevron-left' aria-hidden='true')
			span 回上一頁
	article.container.article-wrap
		.row
			.col-md-4.col-sm-12
				figure.brand_logo
					img(src="../images/brand/agent-26.png", alt="")
			.col-md-8.col-sm-12
				section.article
					h3.title 利口樂
					p.para
						|眾所周知，利口樂的香草糖均選用天然原料製成，味道細膩而又及清新滋潤。所有香草都來自瑞士山區，並以有機方式栽種。為了萃取獲取香草精華，利口樂研發出了獨特的生產流程來保存其活性物質。
					figure.pic
						img(src="../images/brand/agent-26-pro-1.png", alt="")
						img(src="../images/brand/agent-26-pro-2.png", alt="")

block extra_script