extends ./../_layout.jade

block p_title
	title 產品資訊
block extra_style
	link(rel="stylesheet", href="../css/franchise.css")
block main_content
	.container-fluid.full_bg
		section.intro.container
			h1.headline
				p.zh 產品資訊
				p.en Franchise
			h2.slogan
				img(src="../images/slogan.png", alt="")
	.container.back
		button.btn.hidden-md-down(onclick='history.back()') 
			i.fa(class='fa-chevron-left' aria-hidden='true')
			span 回上一頁
	article.container.article-wrap
		.row
			.col-md-4.col-sm-12
				figure.brand_logo
					img(src="../images/brand/agent-44.jpg", alt="")
			.col-md-8.col-sm-12
				section.article
					h3.title 亨氏嬰兒食品
					p.para
						|亨氏集團的分公司遍佈全球110多個國家及地區。集團的主要産品包括調味品（番茄醬、調味品和各種調味醬）和正餐及即食食品（嬰兒食品、義大利麵食、湯、冷凍食品）兩大類。
						|亨氏嬰兒食品是全世界前三大嬰兒食品品牌，在歐洲更是許多國家的領導品牌。亨氏的營養專家緊貼著科技前進的步伐，不斷推陳出新，爲各國寶寶提供更多美味的營養食品。倍可信賴的"亨氏"，亦讓越來越多的不同國藉的父母青睞有加。
						|亨氏嬰兒食品3大保證:
						ul
							li a 均衡營養
							li b 天然新鮮
							li c 衛生、安全可靠
					figure.pic
						img(src="../images/brand/agent-44-pro.jpg", alt="")

block extra_script