extends ./../_layout.jade

block p_title
	title 產品資訊
block extra_style
	link(rel="stylesheet", href="../css/franchise.css")
block main_content
	.container-fluid.full_bg
		section.intro.container
			h1.headline
				p.zh 產品資訊
				p.en Franchise
			h2.slogan
				img(src="../images/slogan.png", alt="")
	.container.back
		button.btn.hidden-md-down(onclick='history.back()') 
			i.fa(class='fa-chevron-left' aria-hidden='true')
			span 回上一頁
	article.container.article-wrap
		.row
			.col-md-4.col-sm-12
				figure.brand_logo
					img(src="../images/brand/agent-47.png", alt="")
			.col-md-8.col-sm-12
				section.article
					h3.title Del Duomo
					p.para
						|1889年創立，是目前義大利最古老也是最重要的酒醋生產工廠之一。<br>
						|超過百年的經驗一直保留於生產技術面，嚴選來自於地中海地區的葡萄，吸取當地的陽光、空氣、養分，製作出最佳的產品

					figure.pic
						img(src="../images/brand/agent-47-pro-1.jpg", alt="")
						img(src="../images/brand/agent-47-pro-2.jpg", alt="")

block extra_script