extends ./../_layout.jade

block p_title
	title 產品資訊
block extra_style
	link(rel="stylesheet", href="../css/franchise.css")
block main_content
	.container-fluid.full_bg
		section.intro.container
			h1.headline
				p.zh 產品資訊
				p.en Brand
			h2.slogan
				img(src="/images/slogan_en.svg", alt="")
	.container.back
		button.btn.hidden-md-down(onclick='history.back()') 
			i.fa(class='fa-chevron-left' aria-hidden='true')
			span 回上一頁
	article.container.article-wrap
		.row
			.col-md-4.col-sm-12
				figure.brand_logo
					img(src="../images/brand/agent-11.png", alt="")
			.col-md-8.col-sm-12
				section.article
					h3.title Seborin
					p.para
						|1934年在德國上市時便是以推出一款保持頭皮健康,預防皮屑的頭髮液;前期的Seborin產品僅僅販售給沙龍,之後才一步步邁入零售市場; 隨著品牌專業的累積,Seborin維持一貫核心理念, 專注於養護頭皮,強韌髮根的研發方向,持續為消費者解決頭皮的困擾


					figure.pic
						img(src="../images/brand/agent-11-pro.jpg", alt="")



block extra_script