extends ./../_layout.jade

block p_title
	title 產品資訊
block extra_style
	link(rel="stylesheet", href="../css/franchise.css")
block main_content
	.container-fluid.full_bg
		section.intro.container
			h1.headline
				p.zh 產品資訊
				p.en Product
			h2.slogan
				img(src="/images/slogan_en.svg", alt="")
	.container.back
		button.btn.hidden-md-down(onclick='history.back()') 
			i.fa(class='fa-chevron-left' aria-hidden='true')
			span 回上一頁
	article.container.article-wrap
		.row
			.col-md-4.col-sm-12
				figure.brand_logo
					img(src="../images/brand/agent-45.png", alt="")
			.col-md-8.col-sm-12
				section.article
					h3.title 菲仕蘭-金可貝可
					p.para
						|荷蘭皇家菲仕蘭有限公司擁有超過140年乳製品生產銷售歷史，是世界五大乳製品公司之一。公司由荷蘭菲仕蘭合作社全資擁有。
						|荷蘭菲仕蘭合作社在荷蘭、德國和比利時擁有超過14,000個牧場，是世界上最大的乳業合作社之一。<br>
						|荷蘭皇家菲仕蘭總部設在荷蘭阿默斯福特(Amersfoort)。<br>
						|荷蘭皇家菲仕蘭在全球30多個國家設有分公司，產品銷往100多個國家和地區，向全世界超過十億消費者提供營養豐富的乳製品。<br>
						|公司重視產品品質，位於荷蘭的生產線符合ISO22000和HACCP等國際標準和認證。<br>
						|憑藉百年專業，荷蘭皇家菲仕蘭於2004年榮獲荷蘭女皇授予皇家稱號。<br>
						|荷蘭皇家菲仕蘭為旗下品牌可貝可®提供適合台灣市場的優質嬰幼兒配方產品。<br>

					figure.pic
						img(src="../images/brand/agent-45-pro.jpg", alt="")

block extra_script