extends ./../_layout.jade

block p_title
	title 產品資訊
block extra_style
	link(rel="stylesheet", href="../css/franchise.css")
block main_content
	.container-fluid.full_bg
		section.intro.container
			h1.headline
				p.zh 產品資訊
				p.en Product
			h2.slogan
				img(src="/images/slogan_en.svg", alt="")
	.container.back
		button.btn.hidden-md-down(onclick='history.back()') 
			i.fa(class='fa-chevron-left' aria-hidden='true')
			span 回上一頁
	article.container.article-wrap
		.row
			.col-md-4.col-sm-12
				figure.brand_logo
					img(src="../images/brand/agent-8.png", alt="")
			.col-md-8.col-sm-12
				section.article
					h3.title McCormick 味好美
					p.para
						|來自美國的味好美公司為全球第一大的香料與調味品公司，至今已在全球香料市場上縱橫超過125年的歷史，擁有豐富的香料及調味品專業生產經驗。產品類別橫跨一般消費者調味品、食品工業調味品及餐飲通路專用調味品。目前，味好美各系列產品在全球分佈已超過100個國家，為世界首屈一指的香料與調味料領導品牌。
					p.para
						|味好美自成立以來，每一個努力達成的里程碑都是朝著一個共同方向：持續將美味的藝術、科學與激情提升至更高的境界，並持續不懈地增進全球每個人的飲食體驗。
					figure.pic
						img(src="../images/brand/agent-8-pro.jpg", alt="")
					ul.list
						li 1889年<br>成立於美國馬里蘭州巴爾的摩市，由當時年僅25歲的創辦人Willoughby M. McCormick先生帶領著3位員工以挨家挨戶、到府面銷的形式銷售香料與食用香精。
						li 1896年<br>味好美公司收購了當時位於美國費城的F.G. Emmett香料公司，從此踏入了香辛料的領域。
						li 1900年<br>味好美公司在美國紐約成立了出口辦公室， 產品出口至南美洲和中美洲、南非、東非和西印度群島以及歐洲。味好美以風味濃郁、純淨細膩的精選品質迅速取得了市場佔有率。
						li 1910年<br>味好美公司成為世界上最早生產茶袋的公司之一。
						li 1921年<br>味好美大廈在巴爾的摩市港口建成。整幢大廈一共9層，在當時是巴爾的摩市的地標建築。現在味好美在巴爾的摩的地產已經不是一座大廈可以滿足的，管理層所在的總部、技術創新中心、科學研究院、工廠等等分散在這座城市的各地，並且一直致力於採用先進的設備。

						li 1926年<br>味好美開發了零售業務。至今，味好美在沃爾瑪、家樂福、好市多等國際知名連鎖超市、大賣場都是調味品的第一名暢銷品牌。
						li 1940年<br>味好美開始經營美國之外的國際業務：投資成立分公司、建立銷售管道、採購基地、生產工廠。收購全球各地其他的品牌公司，至今味好美在世界各地擁有近20個品牌，業務遍佈美洲、歐洲、亞洲、大洋洲、非洲的主力消費市場，國際業務已經將近占到全球味好美的40%。
						li 1941年<br>		味好美的【MC】成為所有產品的商標，所有的味好美產品包裝上均能找到藍紅2色的商標。
						li 1989年<br>味好美成立100周年，開始在中國投資業務，中國總部設立在上海。味好美先後在上海和廣州投資了兩家工廠，更在2013年完成對武漢亞太調味品有限公司資產收購，成為味好美在中國大陸地區的第三個生產基地。
						li 1999年<br>味好美股票開始在紐約證券交易所上市。
						li 2003年<br>味好美McCormick名列入S&P500大企業。


block extra_script