extends ./../_layout.jade

block p_title
	title 產品資訊
block extra_style
	link(rel="stylesheet", href="../css/franchise.css")
block main_content
	.container-fluid.full_bg
		section.intro.container
			h1.headline
				p.zh 產品資訊
				p.en Brand
			h2.slogan
				img(src="/images/slogan_en.svg", alt="")
	.container.back
		button.btn.hidden-md-down(onclick='history.back()') 
			i.fa(class='fa-chevron-left' aria-hidden='true')
			span 回上一頁
	article.container.article-wrap
		.row
			.col-md-4.col-sm-12
				figure.brand_logo
					img(src="../images/brand/agent-39.png", alt="")
			.col-md-8.col-sm-12
				section.article
					h3.title 勁量電池
					p.para
						|勁量是全球第一的電池領導品牌，引領科技創新與研發地位。旗下的兩大品牌: Energizer勁量及Eveready永備，提供消費者六大完整系列產品。包含鹼性電池、碳鋅電池、充電電池、鋰電池、特殊電池和照明系列產品。 卓越的電力表現和產品品質，讓勁量在全世界各地皆享有美譽。
					p.para
						|在亞洲地區，Energizer勁量及Eveready永備兩大品牌更是在個別市場中為領導品牌。勁量專心致力於創造出業界最好的電池及照明產品，了解消費者的需求，領先競爭者，早一步將創新的產品提供給消費者。永備電池擁有悠久歷史和品牌資產，是全世界第一個電池及手電筒品牌，超過百年歷史，陪伴數百萬家庭，走過無數歡樂時光。

					figure.pic
						img(src="../images/brand/agent-39-pro.jpg", alt="")

block extra_script