extends ./../_layout.jade

block p_title
	title 產品資訊
block extra_style
	link(rel="stylesheet", href="../css/franchise.css")
block main_content
	.container-fluid.full_bg
		section.intro.container
			h1.headline
				p.zh 產品資訊
				p.en Product
			h2.slogan
				img(src="/images/slogan_en.svg", alt="")
	.container.back
		button.btn.hidden-md-down(onclick='history.back()') 
			i.fa(class='fa-chevron-left' aria-hidden='true')
			span 回上一頁
	article.container.article-wrap
		.row
			.col-md-4.col-sm-12
				figure.brand_logo
					img(src="../images/brand/agent-49.png", alt="")
			.col-md-8.col-sm-12
				section.article
					h3.title LA MASIA
					p.para
						|西班牙為世界第一大橄欖生產國，LA MASIA OILS, S.A. 創立於 1945 年， 從靠近地中海的一個小城鎮Gandia開始發展。<br>
						|La Masia 公司不僅保有西班牙人對傳統的熱愛，也具有簡樸的精神。事實上， La Masia 這個名字意思就是”農舍"，在此農夫們依賴種植橄欖油以養活家人成立以來不斷的在品質上精進，成為在西班牙最後歡迎的領導品牌，並外銷50多個國家。
					figure.pic
						- for (i=1; i<17; i++) 
							img(src="../images/brand/agent-49-pro-"+i+".jpg", alt="")

block extra_script