extends ./../_layout.jade

block p_title
	title 產品資訊
block extra_style
	link(rel="stylesheet", href="../css/franchise.css")
block main_content
	.container-fluid.full_bg
		section.intro.container
			h1.headline
				p.zh 產品資訊
				p.en Brand
			h2.slogan
				img(src="/images/slogan_en.svg", alt="")
	.container.back
		button.btn.hidden-md-down(onclick='history.back()') 
			i.fa(class='fa-chevron-left' aria-hidden='true')
			span 回上一頁
	article.container.article-wrap
		.row
			.col-md-4.col-sm-12
				figure.brand_logo
					img(src="../images/brand/agent-21.png", alt="")
			.col-md-8.col-sm-12
				section.article
					h3.title 偉特
					p.para
						|很久以前、在一個叫偉特的一個小鎮，有一位叫諾貝爾的糖果師傅，他用純正奶油及鮮奶油、白糖、紅糖和一撮鹽，用慢火烘焙出一種最好吃的奶油糖。 因為這種奶油糖如此好吃，所以他把這種糖命名為道地的偉特奶油糖，來紀念他的家鄉。 現今，當全世界的人品嚐獨特、 順口、充滿純正鮮奶油香的道地的偉特奶油糖時，它的味道仍然和當年諾貝爾糖果師傅親手烘焙的一樣好吃喔!

					figure.pic
						img(src="../images/brand/agent-21-pro.jpg", alt="")



block extra_script