extends ./../_layout.jade

block p_title
	title 產品資訊
block extra_style
	link(rel="stylesheet", href="../css/franchise.css")
block main_content
	.container-fluid.full_bg
		section.intro.container
			h1.headline
				p.zh 產品資訊
				p.en Brand
			h2.slogan
				img(src="/images/slogan_en.svg", alt="")
	.container.back
		button.btn.hidden-md-down(onclick='history.back()') 
			i.fa(class='fa-chevron-left' aria-hidden='true')
			span 回上一頁
	article.container.article-wrap
		.row
			.col-md-4.col-sm-12
				figure.brand_logo
					img(src="../images/brand/agent-38.png", alt="")
			.col-md-8.col-sm-12
				section.article
					h3.title Syoss 絲蘊
					p.para
						|Syoss絲蘊始於1977年, ,源自日本專業沙龍品牌,與殿堂級資深髮型師合作研發,專為亞洲人髮質設計;  讓你在家享受專業沙龍級護理,就像剛由髮型師打理過一般

					figure.pic
						img(src="../images/brand/agent-38-pro.jpg", alt="")

block extra_script