extends ./../_layout.jade

block p_title
	title 產品資訊
block extra_style
	link(rel="stylesheet", href="../css/franchise.css")
block main_content
	.container-fluid.full_bg
		section.intro.container
			h1.headline
				p.zh 產品資訊
				p.en Franchise
			h2.slogan
				img(src="../images/slogan.png", alt="")
	.container.back
		button.btn.hidden-md-down(onclick='history.back()') 
			i.fa(class='fa-chevron-left' aria-hidden='true')
			span 回上一頁
	article.container.article-wrap
		.row
			.col-md-4.col-sm-12
				figure.brand_logo
					img(src="../images/brand/agent-17.png", alt="")
			.col-md-8.col-sm-12
				section.article
					h3.title 蒂克TICO
					p.para
						|「蒂克TICO」誕生於西元1953年，品牌歷經60年仍屹立不搖，是台灣本土第一牙粉品牌。真正正宗台灣第一罐牙粉，年熱銷超過百萬罐。蒂克牙粉在5、60年代是家家戶戶都有的口腔清潔用品，專門解決台灣人煙垢、檳榔垢等口腔垢漬及口氣問題，功效明顯、價格實在，深受台灣消費者喜愛與信任。

					figure.pic
						img(src="../images/brand/agent-17-pro.jpg", alt="")

block extra_script