extends ./../_layout.jade

block p_title
	title 產品資訊
block extra_style
	link(rel="stylesheet", href="../css/franchise.css")
block main_content
	.container-fluid.full_bg
		section.intro.container
			h1.headline
				p.zh 產品資訊
				p.en Brand
			h2.slogan
				img(src="/images/slogan_en.svg", alt="")
	.container.back
		button.btn.hidden-md-down(onclick='history.back()') 
			i.fa(class='fa-chevron-left' aria-hidden='true')
			span 回上一頁
	article.container.article-wrap
		.row
			.col-md-4.col-sm-12
				figure.brand_logo
					img(src="../images/brand/agent-37.png", alt="")
			.col-md-8.col-sm-12
				section.article
					h3.title 唐寧茶
					p.para
						|一個飄香300年的優雅茗香傳奇，起始於1706年，一位湯瑪士‧唐寧先生對紅茶的滿腔熱情，貼心地依不同時段需求，調配不同的茶味風情，既撫慰皇室貴族的刁鑽味蕾，更引領大英帝國不朽的紅茶風華。
					p.para
						|創始人湯瑪士‧唐寧先生在1717年於倫敦Strand街216號設店，這是當時世界第一間販賣茶葉與咖啡的商店。歷經三世紀的歲月洗禮，這家店歷久彌新，今日依然活躍在Strand街，成為紅茶迷爭相拜訪的TWININGS茶葉博物館，是當地人購買茶葉的首選店家，也是倫敦的著名觀光景點。

					figure.pic
						img(src="../images/brand/agent-37-pro-1.jpg", alt="")
						img(src="../images/brand/agent-37-pro-2.jpg", alt="")
						img(src="../images/brand/agent-37-pro-3.jpg", alt="")

block extra_script