extends ./../_layout.jade

block p_title
	title 產品資訊
block extra_style
	link(rel="stylesheet", href="../css/franchise.css")
block main_content
	.container-fluid.full_bg
		section.intro.container
			h1.headline
				p.zh 產品資訊
				p.en Product
			h2.slogan
				img(src="/images/slogan_en.svg", alt="")
	.container.back
		button.btn.hidden-md-down(onclick='history.back()') 
			i.fa(class='fa-chevron-left' aria-hidden='true')
			span 回上一頁
	article.container.article-wrap
		.row
			.col-md-4.col-sm-12
				figure.brand_logo
					img(src="../images/brand/agent-46.png", alt="")
			.col-md-8.col-sm-12
				section.article
					h3.title BIANCO e NERO
					p.para
						|西元1900年，公司創立於Umbria省，在Terni城鎮附近的一個歷史重鎮Arrone村莊的小農舍裡，從製造及生產多種不同的新鮮松露及磨菇開始並遵循古老的地中海配方。 <br>
						|BIANCO e NERO 生產多樣化不同型式的松露及磨菇產品，承襲創新的想法及悠久的製程並發展出一系列新穎的產品線:松露橄欖油、松露奶油、松露鹽、松露巧克力、松露麵條及松露義大利餃及其他產品。 BIANCO e NERO 的產品適合喜歡做簡單烹調的消費者或是美食的崇尚者。

					figure.pic
						img(src="../images/brand/agent-46-pro-1.png", alt="")
						img(src="../images/brand/agent-46-pro-2.jpg", alt="")

block extra_script