extends ./../_layout.jade

block p_title
	title 產品資訊
block extra_style
	link(rel="stylesheet", href="../css/franchise.css")
block main_content
	.container-fluid.full_bg
		section.intro.container
			h1.headline
				p.zh 產品資訊
				p.en Brand
			h2.slogan
				img(src="/images/slogan_en.svg", alt="")
	.container.back
		button.btn.hidden-md-down(onclick='history.back()') 
			i.fa(class='fa-chevron-left' aria-hidden='true')
			span 回上一頁
	article.container.article-wrap
		.row
			.col-md-4.col-sm-12
				figure.brand_logo
					img(src="../images/brand/agent-51.png", alt="")
			.col-md-8.col-sm-12
				section.article
					h3.title Pietro Coricelli 
					p.para
						|1939年創立Pietro Coricelli 公司，為家族事業。致力於最先進的生產及提煉技術，持續投資及研發提升橄欖油品質，更符合美國、加拿大等國的高標準要求，熱銷義大利及全球108個國家。<br>
						|嚴選義大利當地有著綠色心臟之稱的翁布里亞區(Umbria)及地中海沿岸品質最優良的橄欖，採用最先進的冷壓橄欖生產技術所調製而成的高優質橄欖油。口感溫順，品質穩定耐熱性佳，適合用於烘焙、煎、炸的理想用油。

					figure.pic
						img(src="../images/brand/agent-51-pro-2.jpg", alt="")
						img(src="../images/brand/agent-51-pro-1.jpg", alt="")



block extra_script