extends ./_layout.jade

block p_title
	title 桂丁雞
block extra_style
	link(rel="stylesheet", href="slick-master/slick/slick.css")
	link(rel="stylesheet", href="slick-master/slick/slick-theme.css")
block main_content
	.main-visual
		.container-fluid
			.carousel
				img(src="images/c_1.jpg", alt="")
				img(src="images/c_2.jpg", alt="")
				img(src="images/c_3.jpg", alt="")
			.text
				img(src="images/XMLID_72_.png", alt="")
	.container
		section.section
			figure.image
				img(src="images/XMLID_247_.png", alt="")
			figure.image
				img(src="images/XMLID_257_.png", alt="")
			figure.image
				img(src="images/XMLID_263_.png", alt="")
			figure.image
				img(src="images/XMLID_264_.png", alt="")
		section.section.inline
			figure.image
				img(src="images/XMLID_274_.png", alt="")
			.certificate
				figure
					img(src="images/centi_1.jpg", alt="")
					figcaption 凱馨的每一批土雞，均通過合核檢驗
				figure
					img(src="images/centi_2.jpg", alt="")
					figcaption 凱馨的每一批土雞，均通過合核檢驗
				figure
					img(src="images/centi_3.jpg", alt="")
					figcaption 凱馨冷凍雞肉工廠通過HACCP及ISO 22000認證
	.container-fluid.buyer
		.container
			section.section
				.section_header
					img(src="images/XMLID_2026_.png", alt="")
				.items
					a.pro(href="https://www.famicloud.com.tw/Branchs/Branch/Product/3/106/843/6770" target="_blank")
						img(src="images/meat_1.jpg", alt="土雞全雞 1600g")
					a.pro(href="https://www.famicloud.com.tw/Branchs/Branch/Product/3/106/843/6771" target="_blank")
						img(src="images/meat_2.jpg", alt="土雞半雞分切 600g")
					a.pro(href="https://www.famicloud.com.tw/Branchs/Branch/Product/3/106/843/4510" target="_blank")
						img(src="images/meat_3.jpg", alt="土雞三節翅")
					a.pro(href="https://www.famicloud.com.tw/Branchs/Branch/Product/3/106/843/4515" target="_blank")
						img(src="images/meat_4.jpg", alt="帶骨雞腿切塊")
					a.pro(href="https://www.famicloud.com.tw/Branchs/Branch/Product/3/106/843/4517" target="_blank")
						img(src="images/meat_5.jpg", alt="全雞 2.2kg")
					a.pro(href="https://www.famicloud.com.tw/Branchs/Branch/Product/3/106/843/5537" target="_blank")
						img(src="images/meat_6.jpg", alt="土雞里肌")
					a.pro(href="https://www.famicloud.com.tw/Branchs/Branch/Product/3/106/843/4514" target="_blank")
						img(src="images/meat_7.jpg", alt="帶骨雞腿 480g")
					a.pro(href="https://www.famicloud.com.tw/Branchs/Branch/Product/3/106/843/4513" target="_blank")
						img(src="images/meat_8.jpg", alt="土雞胸肉")
					a.pro(href="https://www.famicloud.com.tw/Branchs/Branch/Product/3/106/843/6769" target="_blank")
						img(src="images/meat_9.jpg", alt="土雞全雞 1300g")
					a.pro(href="https://www.famicloud.com.tw/Branchs/Branch/Product/3/106/843/4511" target="_blank")
						img(src="images/meat_10.jpg", alt="半雞分切 800g")
					a.pro(href="https://www.famicloud.com.tw/Branchs/Branch/Product/3/106/843/4516" target="_blank")
						img(src="images/meat_11.jpg", alt="清雞腿")
					a.pro(href="https://www.famicloud.com.tw/Branchs/Branch/Index/4/107/942" target="_blank")
						img(src="images/meat_12.jpg", alt="雞肉貢丸")


block extra_script
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.12/jquery.mousewheel.min.js')
	script(src='slick-master/slick/slick.js')
	script.
		$('.carousel').slick({
			infinate: true,
			dots:  true,
			arrows: false,
			autoplay: true,
			autoplaySpeed: 3000,
		});

		$('.certificate').slick({
			infinate: true,
			dots:  true,
			arrows: true,
			autoplay: true,
			autoplaySpeed: 3000,
		});