{
  "name": "桂丁雞",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "index.jade",
      "imports": [
        "_layout.jade"
      ]
    },
    {
      "path": "scss/bootstrap4/_mixins.scss",
      "imports": [
        "scss/bootstrap4/mixins/_breakpoints.scss",
        "scss/bootstrap4/mixins/_hover.scss",
        "scss/bootstrap4/mixins/_image.scss",
        "scss/bootstrap4/mixins/_tag.scss",
        "scss/bootstrap4/mixins/_reset-filter.scss",
        "scss/bootstrap4/mixins/_resize.scss",
        "scss/bootstrap4/mixins/_screen-reader.scss",
        "scss/bootstrap4/mixins/_size.scss",
        "scss/bootstrap4/mixins/_tab-focus.scss",
        "scss/bootstrap4/mixins/_reset-text.scss",
        "scss/bootstrap4/mixins/_text-emphasis.scss",
        "scss/bootstrap4/mixins/_text-hide.scss",
        "scss/bootstrap4/mixins/_text-truncate.scss",
        "scss/bootstrap4/mixins/_alert.scss",
        "scss/bootstrap4/mixins/_buttons.scss",
        "scss/bootstrap4/mixins/_cards.scss",
        "scss/bootstrap4/mixins/_pagination.scss",
        "scss/bootstrap4/mixins/_lists.scss",
        "scss/bootstrap4/mixins/_list-group.scss",
        "scss/bootstrap4/mixins/_nav-divider.scss",
        "scss/bootstrap4/mixins/_forms.scss",
        "scss/bootstrap4/mixins/_progress.scss",
        "scss/bootstrap4/mixins/_table-row.scss",
        "scss/bootstrap4/mixins/_background-variant.scss",
        "scss/bootstrap4/mixins/_border-radius.scss",
        "scss/bootstrap4/mixins/_gradients.scss",
        "scss/bootstrap4/mixins/_clearfix.scss",
        "scss/bootstrap4/mixins/_navbar-align.scss",
        "scss/bootstrap4/mixins/_grid-framework.scss",
        "scss/bootstrap4/mixins/_grid.scss",
        "scss/bootstrap4/mixins/_pulls.scss"
      ]
    },
    {
      "path": "scss/bootstrap4/_reboot.scss",
      "imports": [
        "scss/bootstrap4/bootstrap.scss",
        "scss/bootstrap4/_custom.scss",
        "scss/bootstrap4/_variables.scss",
        "scss/bootstrap4/_mixins.scss",
        "scss/bootstrap4/_normalize.scss",
        "scss/bootstrap4/_print.scss",
        "scss/bootstrap4/_type.scss",
        "scss/bootstrap4/_images.scss",
        "scss/bootstrap4/_code.scss",
        "scss/bootstrap4/_grid.scss",
        "scss/bootstrap4/_tables.scss",
        "scss/bootstrap4/_forms.scss",
        "scss/bootstrap4/_buttons.scss",
        "scss/bootstrap4/_animation.scss",
        "scss/bootstrap4/_dropdown.scss",
        "scss/bootstrap4/_button-group.scss",
        "scss/bootstrap4/_input-group.scss",
        "scss/bootstrap4/_custom-forms.scss",
        "scss/bootstrap4/_nav.scss",
        "scss/bootstrap4/_navbar.scss",
        "scss/bootstrap4/_card.scss",
        "scss/bootstrap4/_breadcrumb.scss",
        "scss/bootstrap4/_pagination.scss",
        "scss/bootstrap4/_tags.scss",
        "scss/bootstrap4/_jumbotron.scss",
        "scss/bootstrap4/_alert.scss",
        "scss/bootstrap4/_progress.scss",
        "scss/bootstrap4/_media.scss",
        "scss/bootstrap4/_list-group.scss",
        "scss/bootstrap4/_responsive-embed.scss",
        "scss/bootstrap4/_close.scss",
        "scss/bootstrap4/_modal.scss",
        "scss/bootstrap4/_tooltip.scss",
        "scss/bootstrap4/_popover.scss",
        "scss/bootstrap4/_carousel.scss",
        "scss/bootstrap4/_utilities.scss",
        "scss/bootstrap4/mixins/_breakpoints.scss",
        "scss/bootstrap4/mixins/_hover.scss",
        "scss/bootstrap4/mixins/_image.scss",
        "scss/bootstrap4/mixins/_tag.scss",
        "scss/bootstrap4/mixins/_reset-filter.scss",
        "scss/bootstrap4/mixins/_resize.scss",
        "scss/bootstrap4/mixins/_screen-reader.scss",
        "scss/bootstrap4/mixins/_size.scss",
        "scss/bootstrap4/mixins/_tab-focus.scss",
        "scss/bootstrap4/mixins/_reset-text.scss",
        "scss/bootstrap4/mixins/_text-emphasis.scss",
        "scss/bootstrap4/mixins/_text-hide.scss",
        "scss/bootstrap4/mixins/_text-truncate.scss",
        "scss/bootstrap4/mixins/_alert.scss",
        "scss/bootstrap4/mixins/_buttons.scss",
        "scss/bootstrap4/mixins/_cards.scss",
        "scss/bootstrap4/mixins/_pagination.scss",
        "scss/bootstrap4/mixins/_lists.scss",
        "scss/bootstrap4/mixins/_list-group.scss",
        "scss/bootstrap4/mixins/_nav-divider.scss",
        "scss/bootstrap4/mixins/_forms.scss",
        "scss/bootstrap4/mixins/_progress.scss",
        "scss/bootstrap4/mixins/_table-row.scss",
        "scss/bootstrap4/mixins/_background-variant.scss",
        "scss/bootstrap4/mixins/_border-radius.scss",
        "scss/bootstrap4/mixins/_gradients.scss",
        "scss/bootstrap4/mixins/_clearfix.scss",
        "scss/bootstrap4/mixins/_navbar-align.scss",
        "scss/bootstrap4/mixins/_grid-framework.scss",
        "scss/bootstrap4/mixins/_grid.scss",
        "scss/bootstrap4/mixins/_pulls.scss",
        "scss/bootstrap4/utilities/_background.scss",
        "scss/bootstrap4/utilities/_clearfix.scss",
        "scss/bootstrap4/utilities/_display.scss",
        "scss/bootstrap4/utilities/_flex.scss",
        "scss/bootstrap4/utilities/_pulls.scss",
        "scss/bootstrap4/utilities/_screenreaders.scss",
        "scss/bootstrap4/utilities/_spacing.scss",
        "scss/bootstrap4/utilities/_text.scss",
        "scss/bootstrap4/utilities/_visibility.scss"
      ]
    },
    {
      "path": "scss/bootstrap4/_utilities.scss",
      "imports": [
        "scss/bootstrap4/utilities/_background.scss",
        "scss/bootstrap4/utilities/_clearfix.scss",
        "scss/bootstrap4/utilities/_display.scss",
        "scss/bootstrap4/utilities/_flex.scss",
        "scss/bootstrap4/utilities/_pulls.scss",
        "scss/bootstrap4/utilities/_screenreaders.scss",
        "scss/bootstrap4/utilities/_spacing.scss",
        "scss/bootstrap4/utilities/_text.scss",
        "scss/bootstrap4/utilities/_visibility.scss"
      ]
    },
    {
      "path": "scss/bootstrap4/bootstrap-flex.scss",
      "imports": [
        "scss/bootstrap4/bootstrap.scss",
        "scss/bootstrap4/_custom.scss",
        "scss/bootstrap4/_variables.scss",
        "scss/bootstrap4/_mixins.scss",
        "scss/bootstrap4/_normalize.scss",
        "scss/bootstrap4/_print.scss",
        "scss/bootstrap4/_reboot.scss",
        "scss/bootstrap4/_type.scss",
        "scss/bootstrap4/_images.scss",
        "scss/bootstrap4/_code.scss",
        "scss/bootstrap4/_grid.scss",
        "scss/bootstrap4/_tables.scss",
        "scss/bootstrap4/_forms.scss",
        "scss/bootstrap4/_buttons.scss",
        "scss/bootstrap4/_animation.scss",
        "scss/bootstrap4/_dropdown.scss",
        "scss/bootstrap4/_button-group.scss",
        "scss/bootstrap4/_input-group.scss",
        "scss/bootstrap4/_custom-forms.scss",
        "scss/bootstrap4/_nav.scss",
        "scss/bootstrap4/_navbar.scss",
        "scss/bootstrap4/_card.scss",
        "scss/bootstrap4/_breadcrumb.scss",
        "scss/bootstrap4/_pagination.scss",
        "scss/bootstrap4/_tags.scss",
        "scss/bootstrap4/_jumbotron.scss",
        "scss/bootstrap4/_alert.scss",
        "scss/bootstrap4/_progress.scss",
        "scss/bootstrap4/_media.scss",
        "scss/bootstrap4/_list-group.scss",
        "scss/bootstrap4/_responsive-embed.scss",
        "scss/bootstrap4/_close.scss",
        "scss/bootstrap4/_modal.scss",
        "scss/bootstrap4/_tooltip.scss",
        "scss/bootstrap4/_popover.scss",
        "scss/bootstrap4/_carousel.scss",
        "scss/bootstrap4/_utilities.scss",
        "scss/bootstrap4/mixins/_breakpoints.scss",
        "scss/bootstrap4/mixins/_hover.scss",
        "scss/bootstrap4/mixins/_image.scss",
        "scss/bootstrap4/mixins/_tag.scss",
        "scss/bootstrap4/mixins/_reset-filter.scss",
        "scss/bootstrap4/mixins/_resize.scss",
        "scss/bootstrap4/mixins/_screen-reader.scss",
        "scss/bootstrap4/mixins/_size.scss",
        "scss/bootstrap4/mixins/_tab-focus.scss",
        "scss/bootstrap4/mixins/_reset-text.scss",
        "scss/bootstrap4/mixins/_text-emphasis.scss",
        "scss/bootstrap4/mixins/_text-hide.scss",
        "scss/bootstrap4/mixins/_text-truncate.scss",
        "scss/bootstrap4/mixins/_alert.scss",
        "scss/bootstrap4/mixins/_buttons.scss",
        "scss/bootstrap4/mixins/_cards.scss",
        "scss/bootstrap4/mixins/_pagination.scss",
        "scss/bootstrap4/mixins/_lists.scss",
        "scss/bootstrap4/mixins/_list-group.scss",
        "scss/bootstrap4/mixins/_nav-divider.scss",
        "scss/bootstrap4/mixins/_forms.scss",
        "scss/bootstrap4/mixins/_progress.scss",
        "scss/bootstrap4/mixins/_table-row.scss",
        "scss/bootstrap4/mixins/_background-variant.scss",
        "scss/bootstrap4/mixins/_border-radius.scss",
        "scss/bootstrap4/mixins/_gradients.scss",
        "scss/bootstrap4/mixins/_clearfix.scss",
        "scss/bootstrap4/mixins/_navbar-align.scss",
        "scss/bootstrap4/mixins/_grid-framework.scss",
        "scss/bootstrap4/mixins/_grid.scss",
        "scss/bootstrap4/mixins/_pulls.scss",
        "scss/bootstrap4/utilities/_background.scss",
        "scss/bootstrap4/utilities/_clearfix.scss",
        "scss/bootstrap4/utilities/_display.scss",
        "scss/bootstrap4/utilities/_flex.scss",
        "scss/bootstrap4/utilities/_pulls.scss",
        "scss/bootstrap4/utilities/_screenreaders.scss",
        "scss/bootstrap4/utilities/_spacing.scss",
        "scss/bootstrap4/utilities/_text.scss",
        "scss/bootstrap4/utilities/_visibility.scss"
      ]
    },
    {
      "path": "scss/bootstrap4/bootstrap-grid.scss",
      "imports": [
        "scss/bootstrap4/_custom.scss",
        "scss/bootstrap4/_variables.scss",
        "scss/bootstrap4/mixins/_clearfix.scss",
        "scss/bootstrap4/mixins/_breakpoints.scss",
        "scss/bootstrap4/mixins/_grid-framework.scss",
        "scss/bootstrap4/mixins/_grid.scss",
        "scss/bootstrap4/_grid.scss"
      ]
    },
    {
      "path": "scss/bootstrap4/bootstrap-reboot.scss",
      "imports": [
        "scss/bootstrap4/_custom.scss",
        "scss/bootstrap4/_variables.scss",
        "scss/bootstrap4/mixins/_hover.scss",
        "scss/bootstrap4/mixins/_tab-focus.scss",
        "scss/bootstrap4/_normalize.scss",
        "scss/bootstrap4/_reboot.scss",
        "scss/bootstrap4/bootstrap.scss",
        "scss/bootstrap4/_mixins.scss",
        "scss/bootstrap4/_print.scss",
        "scss/bootstrap4/_type.scss",
        "scss/bootstrap4/_images.scss",
        "scss/bootstrap4/_code.scss",
        "scss/bootstrap4/_grid.scss",
        "scss/bootstrap4/_tables.scss",
        "scss/bootstrap4/_forms.scss",
        "scss/bootstrap4/_buttons.scss",
        "scss/bootstrap4/_animation.scss",
        "scss/bootstrap4/_dropdown.scss",
        "scss/bootstrap4/_button-group.scss",
        "scss/bootstrap4/_input-group.scss",
        "scss/bootstrap4/_custom-forms.scss",
        "scss/bootstrap4/_nav.scss",
        "scss/bootstrap4/_navbar.scss",
        "scss/bootstrap4/_card.scss",
        "scss/bootstrap4/_breadcrumb.scss",
        "scss/bootstrap4/_pagination.scss",
        "scss/bootstrap4/_tags.scss",
        "scss/bootstrap4/_jumbotron.scss",
        "scss/bootstrap4/_alert.scss",
        "scss/bootstrap4/_progress.scss",
        "scss/bootstrap4/_media.scss",
        "scss/bootstrap4/_list-group.scss",
        "scss/bootstrap4/_responsive-embed.scss",
        "scss/bootstrap4/_close.scss",
        "scss/bootstrap4/_modal.scss",
        "scss/bootstrap4/_tooltip.scss",
        "scss/bootstrap4/_popover.scss",
        "scss/bootstrap4/_carousel.scss",
        "scss/bootstrap4/_utilities.scss",
        "scss/bootstrap4/mixins/_breakpoints.scss",
        "scss/bootstrap4/mixins/_image.scss",
        "scss/bootstrap4/mixins/_tag.scss",
        "scss/bootstrap4/mixins/_reset-filter.scss",
        "scss/bootstrap4/mixins/_resize.scss",
        "scss/bootstrap4/mixins/_screen-reader.scss",
        "scss/bootstrap4/mixins/_size.scss",
        "scss/bootstrap4/mixins/_reset-text.scss",
        "scss/bootstrap4/mixins/_text-emphasis.scss",
        "scss/bootstrap4/mixins/_text-hide.scss",
        "scss/bootstrap4/mixins/_text-truncate.scss",
        "scss/bootstrap4/mixins/_alert.scss",
        "scss/bootstrap4/mixins/_buttons.scss",
        "scss/bootstrap4/mixins/_cards.scss",
        "scss/bootstrap4/mixins/_pagination.scss",
        "scss/bootstrap4/mixins/_lists.scss",
        "scss/bootstrap4/mixins/_list-group.scss",
        "scss/bootstrap4/mixins/_nav-divider.scss",
        "scss/bootstrap4/mixins/_forms.scss",
        "scss/bootstrap4/mixins/_progress.scss",
        "scss/bootstrap4/mixins/_table-row.scss",
        "scss/bootstrap4/mixins/_background-variant.scss",
        "scss/bootstrap4/mixins/_border-radius.scss",
        "scss/bootstrap4/mixins/_gradients.scss",
        "scss/bootstrap4/mixins/_clearfix.scss",
        "scss/bootstrap4/mixins/_navbar-align.scss",
        "scss/bootstrap4/mixins/_grid-framework.scss",
        "scss/bootstrap4/mixins/_grid.scss",
        "scss/bootstrap4/mixins/_pulls.scss",
        "scss/bootstrap4/utilities/_background.scss",
        "scss/bootstrap4/utilities/_clearfix.scss",
        "scss/bootstrap4/utilities/_display.scss",
        "scss/bootstrap4/utilities/_flex.scss",
        "scss/bootstrap4/utilities/_pulls.scss",
        "scss/bootstrap4/utilities/_screenreaders.scss",
        "scss/bootstrap4/utilities/_spacing.scss",
        "scss/bootstrap4/utilities/_text.scss",
        "scss/bootstrap4/utilities/_visibility.scss"
      ]
    },
    {
      "path": "scss/bootstrap4/bootstrap.scss",
      "imports": [
        "scss/bootstrap4/_custom.scss",
        "scss/bootstrap4/_variables.scss",
        "scss/bootstrap4/_mixins.scss",
        "scss/bootstrap4/_normalize.scss",
        "scss/bootstrap4/_print.scss",
        "scss/bootstrap4/_reboot.scss",
        "scss/bootstrap4/_type.scss",
        "scss/bootstrap4/_images.scss",
        "scss/bootstrap4/_code.scss",
        "scss/bootstrap4/_grid.scss",
        "scss/bootstrap4/_tables.scss",
        "scss/bootstrap4/_forms.scss",
        "scss/bootstrap4/_buttons.scss",
        "scss/bootstrap4/_animation.scss",
        "scss/bootstrap4/_dropdown.scss",
        "scss/bootstrap4/_button-group.scss",
        "scss/bootstrap4/_input-group.scss",
        "scss/bootstrap4/_custom-forms.scss",
        "scss/bootstrap4/_nav.scss",
        "scss/bootstrap4/_navbar.scss",
        "scss/bootstrap4/_card.scss",
        "scss/bootstrap4/_breadcrumb.scss",
        "scss/bootstrap4/_pagination.scss",
        "scss/bootstrap4/_tags.scss",
        "scss/bootstrap4/_jumbotron.scss",
        "scss/bootstrap4/_alert.scss",
        "scss/bootstrap4/_progress.scss",
        "scss/bootstrap4/_media.scss",
        "scss/bootstrap4/_list-group.scss",
        "scss/bootstrap4/_responsive-embed.scss",
        "scss/bootstrap4/_close.scss",
        "scss/bootstrap4/_modal.scss",
        "scss/bootstrap4/_tooltip.scss",
        "scss/bootstrap4/_popover.scss",
        "scss/bootstrap4/_carousel.scss",
        "scss/bootstrap4/_utilities.scss",
        "scss/bootstrap4/mixins/_breakpoints.scss",
        "scss/bootstrap4/mixins/_hover.scss",
        "scss/bootstrap4/mixins/_image.scss",
        "scss/bootstrap4/mixins/_tag.scss",
        "scss/bootstrap4/mixins/_reset-filter.scss",
        "scss/bootstrap4/mixins/_resize.scss",
        "scss/bootstrap4/mixins/_screen-reader.scss",
        "scss/bootstrap4/mixins/_size.scss",
        "scss/bootstrap4/mixins/_tab-focus.scss",
        "scss/bootstrap4/mixins/_reset-text.scss",
        "scss/bootstrap4/mixins/_text-emphasis.scss",
        "scss/bootstrap4/mixins/_text-hide.scss",
        "scss/bootstrap4/mixins/_text-truncate.scss",
        "scss/bootstrap4/mixins/_alert.scss",
        "scss/bootstrap4/mixins/_buttons.scss",
        "scss/bootstrap4/mixins/_cards.scss",
        "scss/bootstrap4/mixins/_pagination.scss",
        "scss/bootstrap4/mixins/_lists.scss",
        "scss/bootstrap4/mixins/_list-group.scss",
        "scss/bootstrap4/mixins/_nav-divider.scss",
        "scss/bootstrap4/mixins/_forms.scss",
        "scss/bootstrap4/mixins/_progress.scss",
        "scss/bootstrap4/mixins/_table-row.scss",
        "scss/bootstrap4/mixins/_background-variant.scss",
        "scss/bootstrap4/mixins/_border-radius.scss",
        "scss/bootstrap4/mixins/_gradients.scss",
        "scss/bootstrap4/mixins/_clearfix.scss",
        "scss/bootstrap4/mixins/_navbar-align.scss",
        "scss/bootstrap4/mixins/_grid-framework.scss",
        "scss/bootstrap4/mixins/_grid.scss",
        "scss/bootstrap4/mixins/_pulls.scss",
        "scss/bootstrap4/utilities/_background.scss",
        "scss/bootstrap4/utilities/_clearfix.scss",
        "scss/bootstrap4/utilities/_display.scss",
        "scss/bootstrap4/utilities/_flex.scss",
        "scss/bootstrap4/utilities/_pulls.scss",
        "scss/bootstrap4/utilities/_screenreaders.scss",
        "scss/bootstrap4/utilities/_spacing.scss",
        "scss/bootstrap4/utilities/_text.scss",
        "scss/bootstrap4/utilities/_visibility.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7882,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}